#pagebody {
	width: 800px;
	text-align: left;

}
body {
	text-align: center;
	font-size: 14px;
	line-height: 22px;
	color: #666666;
}
h1 {
	font-size: 26px;
	line-height: 30px;
	color: #000000;
	border-left-width: 10px;
	border-bottom-style: none;
	border-left-style: solid;
	border-left-color: #FF0000;
	padding-left: 5px;
	margin-left: 10px;
	margin-top:10px

}
h2 {
	font-size: 22px;
	line-height: 26px;
	color: #000000;
	padding-top: 10px;
}
h3 {
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	padding-top: 10px;
}
h4 {
	color: #000000;
}

table {
	text-align: left;

	overflow-x:auto;
}
td, th{
    border: 1px solid #aaa;
}
.big_window {
	float: left;
	border: 1px solid #999;
	padding-bottom: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: left;
}
.window {
	margin:10px;
	float: left;
	font-size: 14px;
	border: 1px solid #999;
	width: 300;
}
.window .wbody {
	height:185px;
	font-size: 14px;
	text-align: left;
}
.window ol, ul {
	padding: 10px;
	margin: 0px;
}
.wtitle {
	height: 30px;
	background-image: url(../images/window_title_bg.gif);
	font-size: 16px;
	padding: 5px;
}
.wtitle .more {
	float: right;
	font-size: 14px;
}
.wtitle .title {
	float: left;
	font-weight: bold;
}
.big_window .bwbody {
	padding-right: 20px;
	padding-left: 20px;
}
