.code {
	background-color: #F6F6F6;
	display: block;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: dashed;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: dashed;
	border-top-color: #339900;
	border-right-color: #339900;
	border-bottom-color: #339900;
	border-left-color: #339900;
	overflow-x:auto;
	width:100%;
	font-size:12px;
	line-height: 16px;
	
	
}
