.menu {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 15px; FONT-FAMILY: "§ºÊ^"; TEXT-DECORATION: none
}
.p9 {
	FONT-SIZE: 9pt; COLOR: #ffffff; LINE-HEIGHT: 16px; FONT-FAMILY: "§ºÊ^"; TEXT-DECORATION: none
}
.p10 {
	FONT-SIZE: 13px; COLOR: #000000; LINE-HEIGHT: 17px; FONT-FAMILY: "§ºÊ^"; TEXT-DECORATION: none
}
.p11 {
	FONT-SIZE: 13px; COLOR: #cc0000; LINE-HEIGHT: 18px; FONT-FAMILY: "§ºÊ^"; TEXT-DECORATION: none
}
.p12 {
	FONT-SIZE: 14px; COLOR: #fb5104; LINE-HEIGHT: 22px; TEXT-DECORATION: none
}
.p13 {
	FONT-SIZE: 13px; COLOR: #31309c; LINE-HEIGHT: 18px; FONT-FAMILY: "§ºÊ^"; TEXT-DECORATION: underline
}
.p14 {
	FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-FAMILY: "§ºÊ^"
}
.p15 {
	FONT-SIZE: 10pt; COLOR: #0b42a7; LINE-HEIGHT: 19px; FONT-FAMILY: §ºÊ^
}
.move {
	FONT-SIZE: 9pt; COLOR: #0000ff; LINE-HEIGHT: 16px; FONT-FAMILY: §ºÊ^; TEXT-DECORATION: none
}
.Name01 {
	FONT-SIZE: 12px; COLOR: #ff6633; LINE-HEIGHT: 20px
}
.time {
	FONT-SIZE: 11px; COLOR: #666666
}
.Name02 {
	FONT-SIZE: 12px; COLOR: #0066cc; LINE-HEIGHT: 20px
}
.index01 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #fffc03; LINE-HEIGHT: 16px; TEXT-DECORATION: none
}
.link {
	FONT-SIZE: 12px; COLOR: #003a02; LINE-HEIGHT: 17px; TEXT-DECORATION: none
}
.link01 {
	FONT-SIZE: 12px; COLOR: #fb5104; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
.content {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 16px; TEXT-DECORATION: none
}
.content01 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #5450be; LINE-HEIGHT: 18px; TEXT-DECORATION: none
}
.content02 {
	FONT-SIZE: 12px; COLOR: #ff6e21; LINE-HEIGHT: 17px; TEXT-DECORATION: none
}
.content03 {
	FONT-SIZE: 12px; COLOR: #666666; LINE-HEIGHT: 16px; TEXT-DECORATION: none
}
.keyword {
	FONT-SIZE: 9pt; COLOR: #444444; LINE-HEIGHT: 17px; FONT-FAMILY: "§ºÊ^"; TEXT-DECORATION: none
}
.mycontent {
	FONT-SIZE: 12px; COLOR: #fb5106; LINE-HEIGHT: 16px; TEXT-DECORATION: none
}
.myp11 {
	FONT-SIZE: 11pt; COLOR: #000000; LINE-HEIGHT: 22px; FONT-FAMILY: "§ºÊ^"; TEXT-DECORATION: none
}
.myp111 {
	FONT-SIZE: 13px; COLOR: #000000; LINE-HEIGHT: 22px; FONT-FAMILY: "§ºÊ^"; TEXT-DECORATION: none
}
.content04 {
	FONT-SIZE: 12px; COLOR: #0034cc; LINE-HEIGHT: 17px; TEXT-DECORATION: none
}
.newcontent {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 150%; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.newcontent02 {
	FONT-SIZE: 12px; COLOR: #ff6e21; LINE-HEIGHT: 150%; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.newp9 {
	FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 150%; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.newcontent04 {
	FONT-SIZE: 12px; COLOR: #160087; LINE-HEIGHT: 150%; FONT-FAMILY: "Arial", "Helvetica", "sans-serif"; TEXT-DECORATION: none
}
.title01 {
	FONT-SIZE: 24px; COLOR: #00007e; LINE-HEIGHT: 30px; FONT-FAMILY: "§ºÊ^"; TEXT-DECORATION: none
}
.title02 {
	FONT-SIZE: 12px; COLOR: #0d0cc0; LINE-HEIGHT: 17px; TEXT-DECORATION: none
}
.article01 {
	FONT-SIZE: 11pt; COLOR: #000000; LINE-HEIGHT: 22px; FONT-FAMILY: "§ºÊ^"; TEXT-DECORATION: none
}
