#ditem a {
	height: 30px;
	width: 200px;
	display: block;
	float: left;
	font-size: 18px;
	text-align: center;
	font-weight: bolder;
	text-decoration: none;
	background-color: #FFFFFF;
	padding-top: 5px;
}

#ditem {
	width: 1000px;
	float: left;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-bottom-color: #000000;
}
