/* mybeauty : Tue, 06 Apr 2010 10:18:20 +0800 */
*{ margin:0;padding:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,em,th,var {font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
q:before,q:after {content:'';}
abbr,acronym {border:0;}
pre{font-size: 1em ;}
.article-content{ _height: 1% ;  overflow: hidden ;  _overflow: none;}
.article-content p{margin-bottom: 1em;}
a {	text-decoration: none;	}
br{letter-spacing: normal;}
input{
	margin: 0;
	font: 11px arial;
	letter-spacing: 0px;
	padding: 3px 5px;
	background: #fff;
	border:1px solid #ccc;
	color:#666;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;}
/*--------------------------all setting*/

HTML {overflow-x:;	}
body {
	background:#e9e9e9;
	color:#444;
	font-size:12px;
	font-family: Trebuchet MS, verdana , arial;
	line-height:150%;}

a {color:#693}
a:hover {color:#fa0}

#body-div{}

/*--------------------------authority*/

#authority{
	background:#ddd;
	border-bottom:1px solid #fff;
	text-align: center;
	line-height: 24px;}
#authority a{
	padding:0 5px;}
#authority a:hover{}
#authority a#newpost {}
#authority a#backstage {}

/*--------------------------container*/

#container{}
#container2{
	width: 880px;
	background:url(http://pic.pimg.tw/pixnetvisual/4bb5a76d8c5a7.jpg) left top repeat-y #fff;
	margin:0 auto;
	position:relative;}
#container3{}

/*--------------------------header*/

#header{
	height: 280px;
	background:url(http://pic.pimg.tw/pixnetvisual/4bb5a77044116.jpg) no-repeat;}
#login-bar{
	padding: 10px;
	color:#888;}
#login-bar a{color:#888;}
#login-bar .separator{color:#ccc;}
#banner{}
#banner h1{
	position:absolute;
	left: 380px;
	top: 120px;
	height: 30px;
	line-height: 30px}
#banner h1 a{
	font-size:15px;
	line-height: 30px;
	color:#363636;}
	#banner h1 a:hover{color:#fff;}
#banner h2{
	position:absolute;
	left: 380px;
	top: 150px;
	width: 270px;
	color:#557171;}
#banner .skiplink {display:none;}
#banner #blog-category{
	position:absolute;
	left:20px;
	top: 250px;
	color:#999;}
	#banner #blog-category a{color:#999;}

#navigation{
	position:absolute;
	left: 457px;
	top: 305px;}
#navigation li{
	float: left;
	height: 35px;}
#navigation a{
	display:block;
	width:100%;
	height:100%;
	font-size:0;text-indent: -5000px;}
#navigation #link-album{width: 80px;}
#navigation #link-blog{width: 70px;}
#navigation #link-guestbook{width: 125px;}
#navigation #link-profile{width: 90px;}

/*--------------------------main*/

#main{
	overflow: hidden;
	_overflow: none;
	_height: 1%;
	background:url(http://pic.pimg.tw/pixnetvisual/4bb5a7737cd5d.jpg) left top no-repeat;}

/*--------------------------content*/

#content{
	overflow: hidden;
	float: right;
	width: 650px;
	margin-right: 25px;
	display: inline;
	padding-top:100px;}

#spotlight{}
#spotlight h5{}
#spotlight-text{}

#article-area{}

h3.article-area-title{} 
#view-mode{} 

#article-box{}
.article{
	margin:15px 0 30px;} 
.article-head{
	border-bottom:5px solid #e7e0e0;} 
.publish {
	height:15px;
	background:url(http://pic.pimg.tw/pixnetvisual/4bb5a76f01f1d.jpg) left top no-repeat;
	padding-left:15px;
	font-size:9px;
	line-height:15px;
	margin-bottom:5px;}
.title{
	padding: 0 0 5px;}
.title img{display:none;}
.title a{
	font-weight:bold;
	font-size:16px;
	color:#866767;
	text-shadow:1px 1px 0 #ddd;}

.article-body{
	margin: 10px;
	color:#c8892e;
	text-align:right;}
	.article-body a{	color:#c8892e;}
	.article-body a:hover{	color:#dbe055;}
	
.article-content{
	text-align: left;
	color:#333;
	font-size:13px;
	line-height:160%;} 
.article-content .more{} 
.bookmark{} 
.author{} 
.forward{} 

.article-footer{
	margin:10px ;
	line-height:160%;
	background:#eee;
	padding:10px;
	color:#555;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;}	
	.article-footer a{color:#888;}
	.article-footer a:hover{color:#333;}
.article-footer li{}
.back-to-top{
	text-align:right;
	margin-top:5px;}	
.back-to-top a{
	text-transform:uppercase;
	font:11px CEntury Gothic;
	padding: 2px 3px;
	color:#aaa;}

/*--------------------------list*/

.main-list {}
.main-list table{
	width:100%;
	margin: 10px auto;}
.main-list th{
	background:#4bb1a0;
	padding:5px;
	color:#fff;
	border:2px solid #fff;}
.list-num{display:none;}
.list-date {width:100px;
	color:#666;
	font:11px Century gothic;}
.list-title{}
.main-list td{
	border-right:2px solid #fff;
	padding:5px;
	border-bottom:1px dotted #ccc;}

/*--------------------------post-box*/

.user-post-box{
	margin:20px 0;} 

.user-post-title{
	height: 20px;
	background:url(http://pic.pimg.tw/pixnetvisual/4bb5a772a2587.jpg) no-repeat;
	font-size:0;text-indent: -5000px;
	margin-bottom:20px;}
#comment-box .user-post-title{
	background:url(http://pic.pimg.tw/pixnetvisual/4bb5a772a2587.jpg) left bottom no-repeat;}

.post-comment{
	display:none;}
.post-comment a{}

.single-post{
	overflow: hidden;
	_overflow: none;
	_height: 1%;
	border-bottom:1px dashed #ddd;
	padding:15px 0;
	width: 620px;
	margin:0 auto;}
.post-info{
	margin-bottom:5px;}
.post-photo{
	float: left;
	width: 60px;}
.post-photo img{
	width: 50px;
	height: 50px;
	border:5px solid #eee;}
.post-text{
	float: right;
	width: 550px;}
.reply-text{
	float: right;
	width: 550px;
	color:#91952f;
	margin-top: 10px;}
.reply-text p{}
.single-post.secret{}
.single-post.secret .post-text{
	float: none;width: auto;}

#trackback-box {}
#trackback-box h3 {}
#trackback-box SPAN {}
#trackback-box #trackback-url input{margin-right:3px;}
#trackback-box input#trackback-input{width:400px;
	margin:0;}
#trackback-text {}
#trackback-text .single-post {} 
#trackback-text .post-info {}
#trackback-box  .post-text{
	width:auto ;float:none ;}

/*--------------------------comment-form */
#comment-form {
	margin:20px 0;
	width: 600px;
	background:url(http://pic.pimg.tw/pixnetvisual/4bb5a775f3380.jpg) left top no-repeat;
	padding: 50px 10px 10px 10px;}	
#comment-form p {
	color: #963;
	text-align: right;
	margin: 0px 10px 5px;}
#comment-form table {
	width: 100%;
	border: none;}
#comment-form table tr.comment-form-title { display: none; }
#comment-form table td {
	color: #666;
	vertical-align: top;
	border: none;
	padding: 2px 5px;}
#comment-form table th {
	color: #333;
	vertical-align: top;
	width: 70px;
	border: none;
	padding: 2px 5px;
	text-align: right;}
#comment-form table th font { display: none; }
#comment-form input {
	height: 17px;
	font-family: Arial;
	font-size: 11px;
	color: #000;
	border: none;
	border-bottom: 1px solid #ccc;
	background: none;
	width: 90%;}
#comment-form input.radio {
	border: none; width: auto;	background: none;margin:0; padding:0;}
#comment-form input#blogcommenttext_name{width: 85%; }
#comment-form input#send-comment{
	border:0;
	width: 70px;
	height:auto;
	padding:5px;
	background:#aaa;}
#comment-form textarea {
	width: 99%;
	height: 90px;
	font-family: Arial;
	font-size: 11px;
	line-height: 18px;
	color: #000;
	border: 1px solid #ccc;
	background: #fff;
	}	
	
/*--------------------------pages*/
	
.page{
	padding: 20px 0;
	text-align:center;}
.page a,
.page SPAN{
	padding:3px 5px;
	line-height:120%;
	margin:0 3px;
	color:#666} 
.page SPAN{
	font-size:14px;
	color:#3599a8;
	font-weight:bold;}

/*--------------------------links*/

#links{
	overflow: hidden;
	float: left;
	width: 180px;}
#links-row-1{}
#links-row-2{}

.box{
	width:170px;
	margin:0 auto 15px;
	overflow:hidden;}
.box-title{
	height: 20px;
	padding-top:15px;
	padding-left:25px;
	line-height: 20px;
	overflow:hidden;
	background:url(http://pic.pimg.tw/pixnetvisual/4bb5a76d1a673.jpg) left top no-repeat;
	color:#fff;
	text-shadow:1px 1px 0 #555;}
.box-text {
	margin:10px 0;}	
	.box-text  a{color:#788657;}
	.box-text  a:hover{color:#ccc;}
.box-more{
	text-align:right;
	margin: 10px 0 0;}
.box-more a{	
	font-size:11px;  font-size:10px\9;
	color:#fff;
	background:#cdc1b2;
	padding:3px 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;}
.box-more a:hover{
	background:#e4d0d0;
	color:#fff}	
	
#headshot{
	width: 320px;
	height: 160px;
	background:url(http://pic.pimg.tw/pixnetvisual/4bb5a771ec61f.jpg) left top no-repeat;
	position:absolute;
	left:0;
	top:70px;
	padding:0; margin:0;}
#headshot .box-title{display:none;}
#headshot .box-text{margin:0; padding:0;}
#headshot ul{
	overflow: hidden;
	_overflow: none;
	_height: 1%;
	padding:40px 0 0 60px;}
#headshot li{
	width:135px;
	float: right;
	margin-bottom:5px;}
#headshot li#headshot-img{
	float: left !important;
	width: 100px !important}
	#headshot li#headshot-img img{
		border:5px solid #ffe172;}
	
#headshot li#friend-apply{margin-top:10px;}
#headshot li#send-message{}
#headshot li#friend-apply a,
#headshot li#send-message a{
	color:#786c47;
	background:#f0db81;
	padding:1px 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;}


#recent-article img{display:none;} 

#calendar table{
	width: 90%;
	margin:0 auto;}
#calendar th,
#calendar td{
	text-align:center;
	padding:1px;}
#calendar .calMonthHeader{}
#calendar td a{
	font-size:11px;
	display:block;
	color:#fff;
	background:#cdc1b2;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;}

.murmur-time{
	color:#693;
	font:bold 11px Century Gothic;
	margin-bottom:2px;}
.murmur-text{}

#visitor,#crumb{}
#visitor ul,#crumb ul{
	overflow: hidden;
	_overflow: none;
	_height: 1%;}
#visitor li,#crumb li{
	float: left;
	line-height:0;
	margin:0 1px 1px 0;}
#visitor li img,
#crumb li img {
	width:40px;
	height:40px;}

body #followed-murmurs ul{
	overflow: hidden;
	_overflow: none;
	_height: 1%;}
body #followed-murmurs li{
	width: 170px;
	font:12px arial !important;
	border-bottom: 1px dashed #ccc !important;}
body #followed-murmurs .murmurs-photo {
	float:left;
	width: 40px !important;}
body #followed-murmurs .murmurs-content{
	float: right;
	width: 130px;}
body #followed-murmurs .murmurs-content a{color:#847147;}
body #followed-murmurs .murmurs-content span{
	display:block;
	color:#333;}
body #followed-murmurs .murmurs-functions{
	float: none !important;
	clear:both;
	text-align:right !important;}
body #followed-murmurs.murmurs-functions span{margin-right:2px !important;}

#search ul{
	overflow: hidden;
	_overflow: none;
	_height: 1%;}
#search li{
	float: left;
	margin-right:5px;
	display:inline;}
#search input{
	border:1px solid #eee;
	height:22px;
	padding:3px;
	-khtml-border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;}
#search input#search-target{
	height:14px;
	width:100px;
	background:#fff;
	border-top:1px solid #bbb;
	border-left:1px solid #bbb;}
#search input#search-submit{
	margin:0;
	width: 40px;
	font-size:12px;
	background:#eee;
	border-right:1px solid #bbb;
	border-bottom:1px solid #bbb;}

#feed {}
#announce{}
#hot-article {}
#category h6{}
#category li{}
#category .box-more {}
#archive select {}
#favorite select {}

#latest-comment li,
#latest-trackback li,
#subscription li{
	margin-bottom:3px;}

#latest-comment a,
#latest-trackback a,
#subscription a{
	display:block;
	width:99%;}

#mylink {}
#mylink .inner-box{}
#mylink .inner-box h6{
	font-weight:bold;
	color:#847147;}
#mylink .inner-box li{
	margin-left:12px;}
#counter{}
#counter SPAN{} 

.folder{}
.folder .box-title{}
.folder .box-text{}

#powered{}
/*--------------------------footer*/

#footer{clear:both;
	background:url(http://pic.pimg.tw/pixnetvisual/4bb5a76fb6c98.jpg) left top no-repeat;
	padding: 60px 0 30px ;
	_height:1%;
	text-align: center;
	position:relative;}
#footer p{
	color:#999;} 
#bottom {
	position: absolute;
	left:0;
	top:5px;
	width:100%;
	height: 40px;
	line-height: 40px;
	color:#739696;}
#bottom a{color:#739696;}
#bottom a:hover{color:#aaa;}
	
/*--------------------------extradiv*/

#extradiv11{}
#extradiv10{}
#extradiv9{}
#extradiv8{}
#extradiv7{}
#extradiv6{}
#extradiv5{}
#extradiv4{}
#extradiv3{}
#extradiv2{}
#extradiv1{}
#extradiv0{}