html {
	padding-bottom:35px;
}

#toolbar-box {
	_display:none;
	position:fixed;
	bottom:0px;
	left:0px;
	min-width:700px;
	right:0px;
	height:35px;
	z-index:1000000;
}

/* TOOLBAR TOGGLE SWITCH BACKGROUND */

#toolbar-box #toolbar-toggle {
	position:fixed;
	bottom:0px;
	right:0px;
	height:34px;
	width:23px;
	border-top:1px solid #CCC;
	border-left:1px solid #CCC;
	z-index:10000;
	background: url(bg.png) bottom repeat-x;
	text-indent:100px;
	white-space:nowrap;
}

#toolbar-box #toolbar-toggle span:hover {
	background-color: #EFEFEF;
}

/* TOOLBAR TOGGLE SWITCH ARROW */

#toolbar-box #toolbar-toggle span {
	display:block;
	cursor:default;
	height:34px;
	width:22px;
	border-left:1px solid white;
	background: transparent url(hide.png) center center no-repeat;
}

#toolbar-box #toolbar-toggle.hidden span {
	background: transparent url(show.png) center center no-repeat;
}

/* TOOLBAR TOGGLE SWITCH OPACITY */

#toolbar-box #toolbar-toggle.hidden {
	-webkit-opacity:0.3;
	-moz-opacity:0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
	opacity:0.3;
}

#toolbar-box #toolbar-toggle.hidden:hover {
	-webkit-opacity:1;
	-moz-opacity:1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity:1;
}

/* TOOLBAR STYLE */

#toolbar {
	position:absolute;
	bottom:0;
	height:34px;
	border-top:1px solid #CCC;
	width:100%;
	background: url(bg.png) top repeat-x;
}

.toolbar-content {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#777;
	white-space:nowrap;
	font-size:12px;
	background: url(bg.png) top repeat-x;
}

.toolbar-content ul {
	margin:0;
	padding:0;
	list-style:none;
}

.toolbar-content ul li {
	height:30px;
	padding:2px 6px 2px;
	line-height:30px;
	float:left;
	vertical-align:middle;
	border-right:1px solid #D4D4D4;
	border-left:1px solid white;
}

.toolbar-content ul li.link a{
	padding:0px 6px;
}

.toolbar-content ul li.drop:hover,
.toolbar-content ul li.link:hover {
	cursor:default;
	background-color:#EFEFEF;
}

ul li.link {
	background:transparent;
}


ul li.link a {
	border:0;
	text-decoration:none;
	color:#777;
}

#toolbar-left {
	position:absolute;
	left:-1px;
	border-right:1px solid white;
	z-index:2000;
}

#toolbar-iframe {
	position:absolute;
	top:0;
	left:0px;
	right:0px;
	background: url(bg.png) top repeat-x;
	z-index:1000;
}

#toolbar-right {
	border-left:1px solid #D4D4D4;
	float:right;
	margin-right:23px;
}

.toolbar-content li.toolbar-useravatar img {
	border:1px solid #BBB !important;
	vertical-align:middle;
	float:left;
	margin-top:4px;
}
.toolbar-content li > div {
	padding:0 3px;
}

.toolbar-content ul li.drop {
	padding-right:20px;
	background:url(arrow.png) right center no-repeat;
}

.toolbar-content ul li.toolbar-actions {
	white-space:nowrap;
}

.toolbar-content ul li.toolbar-actions .action-label,
.toolbar-content ul li.toolbar-actions .num-span {
	float:left;
}

.toolbar-content ul li.toolbar-actions .action-label {
	margin-right:7px;
}

.toolbar-content ul li.toolbar-actions .action-label .button {
    background: transparent url('button.png') right -50px no-repeat;
    display: block;
	height:25px;
	line-height:24px;
	margin:3px 0 0 0;
	padding:0;
}

.toolbar-content ul li.toolbar-actions .action-label .button span {
    background: transparent url('button.png') left top no-repeat;
    display: block;
	height:25px;
	padding-left:10px;
	margin-right:10px;
	color:#999;
	vertical-align:middle;
}

.toolbar-content ul li.toolbar-actions .action-label .button:hover {
    background: transparent url('button.png') right bottom no-repeat;
	cursor:default;
}

.toolbar-content ul li.toolbar-actions .action-label .button:hover span {
    background: transparent url('button.png') left -25px no-repeat;
}

.toolbar-content ul li.toolbar-actions .num-span {
	background:url(bubble-person.png) left top no-repeat;
	display:block;
	height:17px;
	margin-top:8px;
	padding:0;
	font-size:10px;
	font-weight:bold;
}

.toolbar-content ul li.toolbar-actions .num-span a {
	background:url(bubble-person.png) right -17px no-repeat;
	display:block;
	color:white;
	height:17px;
	padding:0;
	margin:0;
}

.toolbar-content ul li.toolbar-actions .num-span a:hover {
	color:#DDD;
}

.toolbar-content ul li.toolbar-actions .num-span a span {
	display:block;
	height:17px;
	margin:0 7px 0 20px;
	line-height:16px;
	background:#747474;
	cursor:pointer;
}


button::-moz-focus-inner { 
    border: 0;
    padding: 0;
}

.toolbar-userinfo div{
	width:110px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.toolbar-search {
	white-space:nowrap;
	overflow:hidden;
}

.toolbar-content ul li.toolbar-promo  {
	padding:2px;
}


.toolbar-content ul li.toolbar-promo a {
	padding:0;
	margin:0;
}

.toolbar-content ul li.toolbar-promo a span{
	padding:0px 6px;
	display:block;
	vertical-align:middle;
}
.toolbar-content ul li.toolbar-promo a span img{
	vertical-align:-2px;
}


.toolbar-content ul li.toolbar-promo img.promo-mini {
	width:160px;
	height:30px;
}

.toolbar-content ul li.toolbar-promo img.promo-full {
	display:none;
}

.toolbar-content ul li.expandable  {
	position:relative;
	width:160px;
}

.toolbar-content ul li.expandable a.active,
.toolbar-content ul li.expandable a:hover  {
	background:white;
}

.toolbar-content ul li.expandable a {
	position:absolute;
	width:160px;
	padding:2px 2px 2px 3px;
	left:-2px;
	bottom:-12px;
	border:1px solid #D4D4D4;
	background:white;
}

.toolbar-content ul li.expandable a.active img.promo-full,
.toolbar-content ul li.expandable a:hover img.promo-full {
	display:block;
	min-height:100px;
	width:160px;
	bottom:10px;
	position:absolute;
}
.toolbar-content ul li.expandable a.active img.promo-mini,
.toolbar-content ul li.expandable a:hover img.promo-mini {
	display:none;
}
.toolbar-content ul li img.icon {
	vertical-align:-2px;
	margin-right:5px;
}

.toolbar-search img {
	float:left;
}
.toolbar-search .search-box{
	display:none;
	padding:0;
	border:1px solid #BBB;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	background:white;
	margin:4px 4px 4px 26px;
	line-height:14px;
}

.toolbar-search .search-box input {
	height:14px;
	padding:3px 5px;
	border:none;
	background:transparent;
	color:#666;
	font-size:12px;
	line-height:14px;
}
.toolbar-search .search-box input:focus {
	outline: none;
}

#toolbar-right .alert-label,
#toolbar-right .alert-num {
	float:left;
}

#toolbar-right .alert-num {
	background:url(bubble-red.png) left -17px no-repeat;
	display:block;
	height:17px;
	margin-top:7px;
	margin-left:5px;
	font-size:10px;
	font-weight:bold;
	color:white;
}

#toolbar-right .alert-num div {
	background:url(bubble-red.png) right top no-repeat;
}


#toolbar-right .alert-num span {
	display:block;
	height:17px;
	line-height:16px;
	margin:0 8px;
	background:#CE3333;
}

#toolbar-right .alert-none {
	background:url(bubble-gray.png) left -17px no-repeat;
}

#toolbar-right .alert-none span {
	background:#8F8E8E;
}

#toolbar-right .alert-none div {
	background:url(bubble-gray.png) right top no-repeat;
}

.toolbar-content ul li.toolbar-newsfeed > a,
.toolbar-content ul li.toolbar-notifications > a {
	display:block;
	padding:0;
	margin:0;
}

/*
#toolbar-right .alert-none {
	background:#8F8F8F;
}*/

#toolbar-right .toolbar-menu div {
	width:120px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

html #links-row-1 #mib-ad-sidebar,
html #links-row-1 #mib-ad-sidebar * {
    display:block !important;
    margin: 0 auto;
    position: static;
}
