#prefs {
	MARGIN-TOP: -1.6em
}
 HTML #prefs {
	WIDTH: 34em
}
#prefs FIELDSET LABEL {
	DISPLAY: block
}
#prefs .buttons {
	MARGIN-TOP: -1.6em
}
#prefs .choice {
	MARGIN-TOP: -0.6em
}
#legend {
	CLEAR: right
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0.5em; MARGIN: 0px; PADDING-TOP: 0px
}
H1 :link {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
H1 :visited {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
H1 .filename {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0px; BORDER-TOP-STYLE: none; PADDING-TOP: 0px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
H1 :link {
	COLOR: #b00
}
H1 :visited {
	COLOR: #b00
}
H1 .first:link {
	COLOR: #998
}
H1 .first:visited {
	COLOR: #998
}
H1 .sep {
	PADDING-RIGHT: 0.1em; PADDING-LEFT: 0.1em; PADDING-BOTTOM: 0px; COLOR: #666; PADDING-TOP: 0px
}
#jumprev {
	FONT-SIZE: 10px; FLOAT: right; MARGIN: 0px
}
#jumprev FORM {
	MARGIN: 0px
}
#jumprev INPUT {
	FONT-SIZE: 10px; MARGIN-RIGHT: 0px
}
#dirlist {
	MARGIN-TOP: 0px
}
#dirlist TD.rev {
	VERTICAL-ALIGN: baseline; COLOR: #888; WHITE-SPACE: nowrap
}
#dirlist TD.age {
	VERTICAL-ALIGN: baseline; COLOR: #888; WHITE-SPACE: nowrap
}
#dirlist TD.change {
	VERTICAL-ALIGN: baseline; COLOR: #888; WHITE-SPACE: nowrap
}
#dirlist TD.rev {
	FONT-SIZE: 90%; FONT-FAMILY: monospace; LETTER-SPACING: -0.08em; TEXT-ALIGN: right
}
#dirlist TD.size {
	FONT-SIZE: 70%; VERTICAL-ALIGN: middle; COLOR: #888; WHITE-SPACE: nowrap; TEXT-ALIGN: right
}
#dirlist TD.name {
	WIDTH: 100%
}
#dirlist TD.name A {
	BACKGROUND-POSITION: 0% 50%; PADDING-LEFT: 20px; BACKGROUND-REPEAT: no-repeat
}
#dirlist TD.name SPAN {
	BACKGROUND-POSITION: 0% 50%; PADDING-LEFT: 20px; BACKGROUND-REPEAT: no-repeat
}
#dirlist TD.name A.parent {
	BACKGROUND-IMAGE: url(../parent.png)
}
#dirlist TD.name A.dir {
	BACKGROUND-IMAGE: url(../folder.png)
}
#dirlist TD.name A.file {
	BACKGROUND-IMAGE: url(../file.png)
}
#dirlist TD.name A {
	DISPLAY: block; BORDER-BOTTOM-STYLE: none
}
#dirlist TD.rev A {
	DISPLAY: block; BORDER-BOTTOM-STYLE: none
}
#dirlist TD.rev {
	TEXT-ALIGN: right
}
#dirlist TD.change {
	FONT-SIZE: 85%; VERTICAL-ALIGN: middle; WHITE-SPACE: nowrap
}
#anydiff {
	FLOAT: left; MARGIN: 0px 0px 1em
}
#anydiff FORM {
	DISPLAY: inline
}
#anydiff DIV {
	DISPLAY: inline
}
#anydiff H2 {
	DISPLAY: inline
}
#anydiff INPUT {
	MARGIN: 0px -0.5em 0px 1em; VERTICAL-ALIGN: baseline
}

@media Print    
{
#anydiff FORM {
	DISPLAY: none
}
    }
TR.diff INPUT {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
DIV.buttons {
	CLEAR: left
}

@media Print    
{
TH.diff {
	DISPLAY: none
}
TD.diff {
	DISPLAY: none
}
    }
#chglist {
	MARGIN-TOP: 0px
}
#chglist TD.change SPAN {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; DISPLAY: block; MARGIN: 0.2em 0.5em 0px 0px; BORDER-LEFT: #999 1px solid; WIDTH: 0.8em; BORDER-BOTTOM: #999 1px solid; HEIGHT: 0.8em
}
#chglist TD.diff {
	WHITE-SPACE: nowrap
}
#chglist TD.change .comment {
	DISPLAY: none
}
#chglist TD.old_path {
	FONT-STYLE: italic
}
#chglist TD.date {
	FONT-SIZE: 85%; VERTICAL-ALIGN: top; PADDING-TOP: 0.55em; WHITE-SPACE: nowrap
}
#chglist TD.author {
	FONT-SIZE: 85%; VERTICAL-ALIGN: top; PADDING-TOP: 0.55em
}
#chglist TD.rev {
	FONT-SIZE: 90%; FONT-FAMILY: monospace; LETTER-SPACING: -0.08em; TEXT-ALIGN: right
}
#chglist TD.chgset {
	FONT-SIZE: 90%; FONT-FAMILY: monospace; LETTER-SPACING: -0.08em; TEXT-ALIGN: right
}
#chglist TD.rev A {
	BORDER-BOTTOM-STYLE: none
}
#chglist TD.chgset A {
	BORDER-BOTTOM-STYLE: none
}
#chglist TD.summary {
	FONT-SIZE: 85%; VERTICAL-ALIGN: middle; WIDTH: 100%; WHITE-SPACE: nowrap
}
#chglist .verbose TD.summary {
	PADDING-RIGHT: 1em; PADDING-LEFT: 2em; FONT-SIZE: 90%; PADDING-BOTTOM: 1em; COLOR: #333; BORDER-TOP-STYLE: none; PADDING-TOP: 0.5em; BORDER-RIGHT-STYLE: none; WHITE-SPACE: normal; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#chglist TD.summary  {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
#paging {
	MARGIN: 1em 0px
}
#info {
	MARGIN: 0px
}
#info .props {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.4em 1.6em; COLOR: #666; PADDING-TOP: 0px; LIST-STYLE-TYPE: square
}
#info .props LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; OVERFLOW: auto; PADDING-TOP: 0px
}
#preview {
	CLEAR: both; BACKGROUND: #fff; MARGIN: 0px
}
#preview .code-block {
	BORDER-TOP: #999 1px solid; MARGIN: 0px
}
#preview .image-file {
	OVERFLOW: hidden
}
#preview .image-file IMG {
	max-width: 100%
}
