#Intro {
	FONT-SIZE: 1.2em; FONT-FAMILY: arial, "lucida console", sans-serif; POSITION: absolute; TOP: 100px
}
#topContent {
	COLOR: #fff; POSITION: absolute; TOP: 0px
}
#topLogo {
	FLOAT: right; MARGIN: 20px
}
#topLogo A #topLogo A:hover {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-DECORATION: none; BORDER-BOTTOM-STYLE: none
}
#topLogo A IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#menu {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 1.23em; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #fff; LINE-HEIGHT: 1.3em; PADDING-TOP: 0px; WHITE-SPACE: nowrap; LETTER-SPACING: 1px; HEIGHT: 20px
}
#topContent UL {
	PADDING-RIGHT: 0px; LIST-STYLE: none none outside; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#topContent LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px; BACKGROUND-IMAGE: none; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-TOP: 0px
}
#topContent LI A {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 10px; BORDER-TOP: medium none; PADDING-LEFT: 10px; FONT-WEIGHT: normal; PADDING-BOTTOM: 3px; BORDER-LEFT: medium none; COLOR: #ccc; PADDING-TOP: 3px; BORDER-BOTTOM: medium none; TEXT-DECORATION: none
}
#topContent LI A:hover {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 9px; BORDER-TOP: medium none; PADDING-LEFT: 9px; FONT-WEIGHT: bold; BACKGROUND: #30487f; PADDING-BOTTOM: 3px; BORDER-LEFT: #ddd 1px solid; COLOR: #ffc232; PADDING-TOP: 3px; BORDER-BOTTOM: medium none
}
#topContent LI A.active {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 9px; BORDER-TOP: medium none; PADDING-LEFT: 9px; FONT-WEIGHT: bold; BACKGROUND: #30487f; PADDING-BOTTOM: 3px; BORDER-LEFT: #ddd 1px solid; COLOR: #ffc232; PADDING-TOP: 3px; BORDER-BOTTOM: medium none
}
BODY {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; BACKGROUND: url(/media/dyerlab-header-bg.png) #fff repeat-x left top; LEFT: 40px; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; FONT-FAMILY: arial, "lucida console", sans-serif
}
#content {
	POSITION: absolute; TOP: 120px
}
#tracContent {
	WIDTH: 90%; POSITION: absolute; TOP: 132px
}
A:link {
	FONT-WEIGHT: bold; COLOR: #354a7b; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: bold; COLOR: #354a7b; TEXT-DECORATION: none
}
A:active {
	FONT-WEIGHT: bold; COLOR: #354a7b; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: bold; COLOR: #8cc24b; TEXT-DECORATION: none
}
H1 {
	COLOR: #c2984b
}
