/* dreamyeh : Thu, 01 Mar 2012 22:15:57 +0800 */
#comment-form{
font-size:9pt;
padding:0px;
margin:10px 10px 0px 10px;
background:#DDCE8D;
}
#comment-form p{ /*--\"迴響權限\"那一行字--*/
text-align:left;
margin: 10px 0px 0px 0px;
padding:10px;
}
#comment-form table{
border:0px solid #555;
}
#comment-form table tr.comment-form-title{ /*--\"留下迴響\"那四個字--*/
display: none;
}
#comment-form table td { /*--右欄--*/
padding: 3px;
font-size:9pt;
}
#comment-form table th { /*--左欄--*/
text-align:right;
width: 80px;
padding-right: 5px;
font-size:9pt;
}
#comment-form input#send-comment{ /*--\"送出\"那個按鈕--*/
text-align:center;
padding: 5px ;
margin: 5px 0px 10px auto;
}
#comment-form input {
border: 0px dashed #000;/*--留言者資訊+送出按鈕+選取悄悄話所有輸入區--*/
background: #fff;
font-family:\"Verdana\" ;
font-size:9pt;
padding:2px;
}
#comment-form textarea {
width: 550px;
height: 90px;
border: 0px dashed #000;/*--留言方框--*/
background: #fff;
font-size:9pt;
    font-family:\"Verdana\" ;
padding:2px;
}
.article-content p{
margin-bottom:1em;
}
/*------------------------------ #Generate End ------------------------------- */


body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
        margin:0;
        padding:0;
}
table {
        border-collapse:collapse;
        border-spacing:0;
}
fieldset,img {
        border:0;
}
address,caption,cite,code,dfn,em,th,var {
        font-style:normal;
        font-weight:normal;
}
ol,ul {
        list-style:none;
}
caption,th {
        text-align:left;
}
h1,h2,h3,h4,h5,h6 {
        font-size:100%;
        font-weight:normal;
}
q:before,q:after {
        content:\'\';
}
abbr,acronym {
        border:0;
}
pre{
        font-size: 1em ;
}
.article-content{
  _height: 1% ;
  overflow: hidden ;
  _overflow: none;
}
 
html{
background-color: #5D563A;
}

/*------------------------------------------------------------------------------------------
    PIXNET template exemplar - by PrincessWow
    固定寬度版型 - 2
    二欄式 / 內文區靠右 / 側選單靠左
------------------------------------------------------------------------------------------*/

/* --------------------------------------------------------------- 大範圍區塊 ---------------------------------------------------------------*/

/*--整體設定--*/
body{
    font-size:9pt;
    font-family:\"Verdana\" ;
}
#body-div{}

/*--超連結--*/
a{
    color:#B05F00 ;
    text-decoration:none ;
}
/*--滑鼠移動到超連結上時--*/
a:hover{
    color:#E08100 ;
    text-decoration: underline ;
}




/*--登入後最上方的後台功能列--*/
#authority{
    background:#5D563A ;
    padding-top: 5px
    padding-bottom: 0px ;
    text-align:center ;
}
/*--登入後最上方的後台功能列的所有按鈕--*/
#authority a{
font-size:9pt;
    background:#5D563A ;
    padding:10px;
    color:#fff ;
}
#authority a:hover{
color:#fff;
}
/*--發表新文章功能鈕--*/
#authority #newpost{}
/*--進入後台功能鈕--*/
#authority #backstage{}


/*--所有內容--*/
#container{
    width:1230px ; /*--可放入寬640px圖片--*/
    margin:10px auto 10px auto ;
    background:#EFEA9E ;
}
#container2{
    padding:10px ;
}
#container3{}


/*--主要內容區+側邊欄位區--*/
#main{}





/* --------------------------------------------------------------- 頁首 ---------------------------------------------------------------*/


/*--登入功能列--*/
#login-bar{
    text-align:right ;
    display:none;
}



/*--頁面上方區塊(banner圖的高度+banner圖距上方間隔高度 目前是0)-不包括登入功能列--*/
#banner{height:170px;}


#header{
    background:#EFEA9E
  /*--banner圖--*/
    url(http://pic.pimg.tw/dreamyeh/1330611172-2575927297.jpg) no-repeat scroll;
    padding:10px;
    margin-bottom:10px;
}



/*--部落格標題--*/
#banner h1 a{
    font-size: 18px ;
    font-weight:bold ;
    color:#fff ;
        position:absolute;
        margin-left:18px;
        top:70px;
}


/*--部落格描述--*/
#banner h2{
    font-size:9pt ;
    color:#fff ;
        position:absolute;
        margin-left:18px;
        top:95px;
        word-wrap : break-word;
        line-height: 160% ;
}


/*--跳到主文--*/
#banner .skiplink{display:none;}

/*--部落格全站分類--*/
#blog-category{display:none;}


    
/*--其他服務連結區塊--*/
#navigation{
    background:transparent;
    overflow:hidden ;
    _overflow:none  ;
    _height:1% ;
    padding: 0px 0px 0px 13px;
}

/*--其他服務連結區塊內的所有連結--*/
#navigation a{
    display:block ;
    width:auto ;
    text-align:center ;
    vertical-align:center;    
    color:#fff ;
    background:transparent ;
    padding: 0px 0px ;
}
/*--其他服務連結區塊內的所有項目--*/
#navigation li{
    float:left ;
    margin: 0px 5px 0px 0px ;
    padding:0px 5px 0px 5px;
}

/*--其他服務連結-名片--*/
#link-profile{}

/*--其他服務連結-留言版--*/
#link-guestbook{}

/*--其他服務連結-相簿--*/
#link-album{}

/*--其他服務連結-部落格--*/
#link-blog{}


/* --------------------------------------------------------------- 主要內容區 ---------------------------------------------------------------*/

/*--主要內容區--*/
#content{
    width:980px ;
    float:right ;
    background:transparent;
    padding:0px ;
    margin-bottom:10px;
}


/*--公告注目區--*/
#spotlight{
    line-height: 160% ;
    background:#ffffff;
    padding:10px;
    margin-bottom: 10px ;
    border:0px dashed #DDCE8D ;
}

/*--公告注目區標題--*/
#spotlight h5{
    color:#5E490F ;
    font-weight:bold;
    background:#DDCE8D ;
    text-align:Center ;
    padding:3px 0px ;
    margin-bottom: 5px ;
}


/*--公告注目區內容--*/
#spotlight-text{}


/*--所有文章區塊--*/
#article-area{
    border:0px solid #000 ;
    padding: 0px ;
}


/*--所有文章區塊標題(選擇觀看單一分類文章時的標題)--*/
.article-area-title{
    background:#ffffff;
    padding-bottom: 5px;
    padding-left:10px;
    padding-top:10px;
}


/*--瀏覽方式--*/
#display{
    background:#ffffff;
    text-align:left;
    padding-left:10px;
}
/*--瀏覽方式這四個字--*/
#display span{}
/*--標題列表/簡短摘要--*/
#display a{}


/*--單一篇文章--*/
.article{
    background:#ffffff ;
    margin-bottom: 10px ;
    padding:10px ;
}


/*--單一篇文章最上方--*/
.article-head{
    background:#DDCE8D ;
    padding: 5px;
    margin-bottom: 10px ;
    color:#5E490F ;
}


/*--發表時間--*/
.publish{}
/*--月份--*/
.month{}
/*--日期--*/
.date{}
/*--星期--*/
.day{}
/*--年--*/
.year{}
/*--時間--*/
.time{}




/*--文章標題--*/
.title h2 a{
    font-size: small;
    font-weight: bold ;
    color:#5E490F ;

}
/*--文章標題前的密碼圖示/隱藏圖示/好友保護圖示--*/
.title h2 img{
}


/*--單一篇文章中間區塊--*/
.article-body{
font-size:9pt;
margin-top:20px;
margin-bottom:0px;  /*--這個是推薦上專欄跟全站分類中間的間隔高度--*/

}




/*--文章內容--*/
.article-content{
    font-size:12pt;
    line-height: 180% ;
    margin : 5px 0px ;
padding: 0px 0px 0px 0px;
}



/*--繼續閱讀--*/
.more{
margin-top:20px;
text-align:right;}


/*--加入書籤--*/
.bookmark{
    text-align:right ;
padding-top:20px;
border-top: 0px dashed #DDCE8D ;
}


/*--發表時間--*/
.author{
    text-align:right ;
    margin: 0px 0px 0px 0px ;
    border-bottom: 0px dashed #DDCE8D ;
    padding-bottom: 5px ;
}


/*--推薦上專欄、轉寄文章--*/
.forward{
    text-align:left ;
    padding-top: 5px;
    border-top: 1px dashed #DDCE8D ;
}



/*--單一篇文章最下方（全站分類 + 歷史上的今天 + ▲top）--*/
.article-footer{
line-height:160%;
    background:#ffffff ;
}


/*--此篇文章分類 : 個人分類+全站分類--*/
.refer{
    text-align:left ;
    border-bottom: 0px dashed #DDCE8D ;
    padding-top: 5px ;
    padding-bottom: 0px ;
    margin-bottom: 0px ;
    border-top: 0px dashed #DDCE8D ;
}


/*--歷史上的今天--*/
.history{
    text-align:left ;
    border-bottom: 0px dashed #DDCE8D ;
    padding-top: 5px ;
    padding-bottom: 0px ;
    margin-bottom: 0px ;
}



/*--回到頁首--*/
.back-to-top{
    text-align:right ;
    display:none;
}









/* --------------------------------------------------------------- 引用及回應列表 ---------------------------------------------------------------*/

/*--引用及回應列表全部的大範圍--*/
#user-post{
    background:transparent;
    padding:0px;
    margin-bottom: 0px ;
}


/*--僅引用區塊--*/
#trackback-box{
    padding:10px 10px 10px 10px;    
font-size:9pt;
margin: 10px 0px 10px 0px;
}


/*--僅回應列表--*/
#comment-box{
padding: 10px 0px 10px 0px;
}


/*--引用列表+回應列表--*/
.user-post-box{
    background:#ffffff;
    border:0px solid #fff ;
}


/*--引用列表標題--*/
#trackback-title{
    text-align:left;
    margin-bottom: 10px ;
}


/*--回應列表標題--*/
#comment-title{
    text-align:left;
margin-left:10px;
}


/*--引用列表標題+回應列表標題--*/
.user-post-title{
    background:#ffffff ;
    color:#000 ;
    padding: 0px 0px ;
    font-size: 9pt ;
}


/*--引用內容區塊--*/
#trackback-text{
}


/*--回應內容區塊--*/
#comment-text{
margin:10px;
}


/*--引用內容區塊+回應內容區塊--*/
.user-post-text{
    background:#ffffff ;
    padding:0px ;
}


/*--單一引用--*/
#trackback-box .single-post{
    border:1px solid #DDCE8D ;
    margin: 10px 0px 0px 0px ;
}


/*--單一回應--*/
#comment-box .single-post{
    border:1px solid #DDCE8D ;
    margin-bottom: 10px ;
font-size:9pt;
}


/*--單一引用+單一回應--*/
.single-post{
    background:#ffffff ;
    padding: 0px ;
    overflow:hidden ;
    _overflow:none ;
    _height: 1% ;
}


/*--引用者資訊+回應者資訊--*/
.post-info{
    color:#5E490F ;
    background:#DDCE8D ;
    border:1px solid #DDCE8D ;
    padding: 5px ;
    margin-bottom: 0px ;
    font-weight:bold ;
font-size:9pt;
}


/*--單一引用內容+單一回應內容--*/
.post-text{
width: 635px;
padding:10px;
    overflow:auto; /*當內容超過時顯示捲軸*/
    word-wrap : break-word;
    float:right ;
    line-height:160%;
    margin-bottom: 0px ;
}
#trackback-box .post-text{
    width: auto ;
    float:none ;
}


/*--單一引用標題+單一回應標題--*/
.post-text p{}


/*--回應者頭像--*/
.post-photo{
display:none;
    width:120px ;
    float:left ;
    text-align:Center ;
    padding-bottom:7px;
}


/*--版主回覆內容--*/
.reply-text{
font-size:9pt;
font-family:\"verdana\";
    line-height:160%;
    background:#EFEA9E ;
    color: #5E490F ;
    clear:both ;
    border:0px solid #DDCE8D ;
    padding: 10px ;
    overflow:auto; /*當內容超過時顯示捲軸*/
    word-wrap : break-word;
}


/*--版主回覆資訊--*/
.reply-text p{
    padding-top: 10px ;
}


/*--悄悄話--*/
.secret{
    color: #5E490F ;
    padding-top:15px;
    background:#EFEA9E ;
}


/*--留下迴響--*/
.post-comment{
    text-align:center ;
    margin: 10px 10px ;
    padding-top:0px;
    padding-bottom:5px;
    font-size: small ;
    font-weight:bold ;
}









/* --------------------------------------------------------------- 列表模式的文章區塊 ---------------------------------------------------------------*/

/*--列表--*/
.main-list{
    background:#ffffff ;
    padding:10px ;
    margin-bottom: 10px ;
}


/*--列表表格--*/
.main-list table{
    width:100% ;
    margin:0px;
}

/*--列表標題--*/
.main-list h3{
    background:#ffffff;
    padding: 0px;
    margin-bottom: 10px;
}


/*--列表表頭表格(發表時間 文章標題 人氣 迴響)--*/
.main-list th{
    border:0px solid #DDCE8D ;
    padding: 3px;
    text-align:center;
    color: #5E490F ;
}


/*--列表一般表格--*/
.main-list td{
    border:0px solid #DDCE8D ;
    padding: 2px;
}


/*--列表文章名稱--*/
.main-list a{
}


/*--所有文章列表--*/
#article-list{}


/*--單一分類文章列表--*/
#category-list{

}


/*--所有歷史狀態列表--*/
#murmur-list{}


/*--頁數--*/
.page{
padding-left:10px;
}













/* --------------------------------------------------------------- 側邊欄位區 ---------------------------------------------------------------*/

/*--側邊欄位區--*/
#links{
    width:220px ;
    float:left ;
    background:transparent;
    padding:0px ;
    color:#5E490F ;
}


/*--三欄式的第一欄--*/
#links-row-1{}


/*--三欄式的第二欄--*/
#links-row-2{}


/*--單一功能區塊--*/
.box{
    background:#ffffff;
    overflow-x:auto; /*當內容超過時顯示水平(x軸)捲軸*/
    word-wrap : break-word;
    line-height: 160% ;
    border:0px solid #fff ;
    padding: 10px;
    margin-bottom: 10px ;
}


/*--單一功能區塊標題\'--*/
.box-title{
    background:#DDCE8D ;
    text-align:center ;
    padding: 4px ;
    font-size: small ;
    font-weight:bold ;
    margin-bottom: 10px ;
}


/*--單一功能區塊內容--*/
.box-text{
}


/*--單一功能區塊項目--*/
.box-text li{
    margin: 0px 0px ;
}


/*--單一功能區塊超連結--*/
.box-text a{
}


/*--碎碎唸--*/
#murmur{}
/*--碎碎唸標頭--*/
#murmur .box-title{}
/*--碎碎唸內容區塊--*/
#murmur .box-text{
line-height:160%;
width:180px;
}
/*--版主頭像--*/
#my-photo{}
/*碎碎唸文字內容*/
#my-status{

}



/*--搜尋--*/
#search{}
/*--搜尋標頭--*/
#search .box-title{}
/*--搜尋內容區塊--*/
#search .box-text{}
/*--搜尋輸入文字欄位--*/
#search-target{
width:195px;
}
/*--搜尋確定鈕--*/
#search-send{
}


/*--本日人氣--*/
#counter{}
/*--本日人氣標頭--*/
#counter .box-title{}
/*--本日人氣內容區塊--*/
#counter .box-text{}
/*--人氣數字--*/
#countr .box-text span{}



/*--更換樣式--*/
#change-theme{}
/*--更換樣式標頭--*/
#change-theme .box-title{}
/*--更換樣式內容區塊--*/
#change-theme .box-text{}
/*--更換樣式選單--*/
#change-theme select{
width:200px;
}



/*--新聞交換rss--*/
#feed{}
/*--新聞交換標頭--*/
#feed .box-title{}
/*--新聞交換內容區塊--*/
#feed .box-text{}
/*--新聞交換icon--*/
#feed img{}


/*--月曆--*/
#calendar{}
/*--月曆標頭--*/
#calendar .box-title{}
/*--月曆內容區塊--*/
#calendar .box-text{
    line-height:140%;
}
/*--月曆-月曆表格--*/
#calendar table{
    text-align:center;
    width:200px;
}
/*--月曆-月、年、週--*/
#calendar th{
    text-align: center;
    line-height:160%;
}
/*--月曆-選擇月份的那一欄--*/
#calendar .calMonthNav{
    text-align:right;
}
/*--月曆-星期幾的那一欄--*/
#calendar .calMonthHeader{
    text-align:right;
}
/*--月曆-日期儲存格--*/
#calendar td {
    text-align:center;
}
/*--月曆-當天有寫文章的儲存格--*/
#calendar td a{
    text-align:center;
    text-decoration:none;
}



/*--近期文章--*/
#recent-article{}
/*--近期文章標頭--*/
#recent-article .box-title{}
/*--近期文章內容區塊--*/
#recent-article .box-text{}
/*--近期文章文章標題--*/
#recent-article .box-text a{}



/*--人氣文章--*/
#hot-article{}
/*--人氣文章標頭--*/
#hot-article .box-title{}
/*--人氣文章內容區塊--*/
#hot-article .box-text{}
/*--人氣文章文章標題--*/
#hot-article .box-text a{}



/*--文章分類--*/
#category{}
/*--文章分類標頭--*/
#category .box-title{}
/*--文章分類內容區塊--*/
#category .box-text{}
/*--文章分類的分類目錄--*/
#category .box-text h6{}
/*--文章分類的文章分類名稱--*/
#category .box-text li a{}



/*--文章彙整--*/
#archive{}
/*--文章彙整標頭--*/
#archive .box-title{}
/*--文章彙整內容區塊--*/
#archive .box-text{}
#archive .box-text select{
    width:200px;
}
/*--所有文章列表--*/
#archive .box-text li a{}



/*--最新迴響--*/
#latest-comment{}
/*--最新迴響標頭--*/
#latest-comment .box-title{}
/*--最新迴響內容區塊--*/
#latest-comment .box-text{}
/*--最新迴響-迴響日期--*/
#latest-comment .box-text span{}
/*--最新迴響-迴響摘要--*/
#latest-comment .box-text li a{}


/*--最新迴響-單則迴響--*/
#latest-comment .box-text li {
height:22px;
width:200px;
overflow:hidden;
}

/*--最新引用--*/
#latest-trackback{}
/*--最新引用標頭--*/
#latest-trackback .boc-title{}
/*--最新引用內容區塊--*/
#latest-trackback .box-text{}
/*--最新引用-引用過去的文章標題--*/
#latest-trackback .box-text li a{}
/*--最新引用-引用過去的部落格主標--*/
#latest-trackback .box-text li span{}




/*--最新訂閱--*/
#subscription{}
/*--最新訂閱標頭--*/
#subscription .box-title{}
/*--最新訂閱內容區塊--*/
#subscription .box-text{}
/*--最新訂閱-訂閱對方的新文章標題--*/
#subscription .box-text li a{}
/*--最新訂閱-訂閱對方的部落格主標--*/
#subscription .box-text li span{}



/*--我的蒐藏--*/
#favorite{}
/*--我的蒐藏標頭--*/
#favorite .box-title{}

/*--我的蒐藏內容區塊--*/
#favorite .box-text{
padding-bottom:7px;
}

/*--我的蒐藏選單--*/
#favorite .box-text select{
width:200px;
}




/*--我的連結--*/
#mylink{}
/*--我的連結標頭--*/
#mylink .box-title{}
/*--我的連結內容區塊--*/
#mylink .box-text{}
/*--我的連結-單一分類--*/
#my-link .box-text .link-box{}
/*--我的連結-單一分類標題--*/
#my-link .box-text .link-box h6{}
/*--我的連結-單一連結--*/
#my-link .box-text .link-box li a{}


/*--誰來我家--*/
#visitor{}
/*--誰來我家標頭--*/
#visitor .box-title{}
/*--誰來我家內容區塊--*/
#visitor .box-text{
line-height:100%;
}

/*--單一頭像列表--*/
#visitor ul{
*height: 1% ;
overflow: hidden ;
*overflow: none ;
}

#visitor img {
}

#visitor .box-text li img {
width:39px;
height:39px;
border: 0px solid #EEEEEE;
margin-right: 1px;
}

/*--單一頭像--*/
#visitor li{
float:left;
}

/*--所有訪客列表--*/
#visitor .box-more{
line-height:140%;
}

/*--我去誰家--*/
#crumb{}
/*--我去誰家標頭--*/
#crumb .box-title{}
/*--我去誰家內容區塊--*/
#crumb .box-text{
line-height:100%;
}

/*--單一頭像列表--*/
#crumb ul{
*height: 1% ;
overflow: hidden ;
*overflow: none ;
}
#crumb .box-text li img {
width:39px;
height:39px;
border: 0px solid #EEEEEE;
margin-right: 1px;
}
/*--單一頭像--*/
#crumb li{
float:left;
}

/*--所有瀏覽列表--*/
#crumb .box-more{
line-height:140%;
}



/*--所有自訂欄位--*/
.folder{}
/*--所有自訂欄位標頭--*/
.folder .box-title{}
/*--所有自訂欄位內容區塊--*/
.folder .box-text{}



/*--powered--*/
#powered{}
/*--powered標頭--*/
#powered .box-title{}
/*--powered內容區塊--*/
#powered .box-text{}





/*--頁尾--*/
#footer{
    clear:both ;
    background:#DDCE8D ;
    padding:5px 10px;
    text-align:center ;
    color:#5E490F ;

}


/*--頁尾-自訂聲明--*/
#footer p{
    line-height: 160% ;
}


/*--頁尾-pixnet連結--*/
#footer #bottom{
    line-height: 160% ;
}

/*------------------------------------------------------------
以下為   PIXNET 部落格痞客模版專用 box-layout.css  
任何疑問請至 PIXNET - 服務專區  Pixnet CSS 設計交流區
http://support.pixnet.tw/index.php?board=6.0
------------------------------------------------------------*/

/*  誰來我家 田字型排版  */
#visitor ul{
    _height: 1% ;
    overflow: hidden ;
    _overflow: none ;
}
#visitor li{
    float:left ;
}


/*  我去誰家 田字型排版  */
#crumb ul{
    _height: 1% ;
    overflow: hidden ;
    _overflow: none ;
}
#crumb li{
    float:left ;
}


/*  碎碎唸聯播  好友圖像靠左  文字靠右  */
#broadcast ul{
    _height: 1% ;
    overflow: hidden ;
    _overflow: none ;
}
.broadcast-photo{
    float:left ;
    margin-right:5px;
    width:50px;
    height:50px;
}


/*  解決迴響樓梯型歪斜排版問題 + 文字重疊問題　迴響人圖像靠左  迴響內容靠右  */
.single-post{
    _height: 1% ;
    overflow: hidden ;
    _overflow: none ;
}
.post-photo{
    width:120px ;
    float:left ;
    text-align:Center ;
}



/*  解決圖片太大撐破版面，側邊欄往下掉的問題  */
#content{
    overflow: hidden ;
}

/*-------------------- 以上為   PIXNET 部落格痞客模版專用 box-layout.css   --------------------*/