#popup-settings {
	display:none;
	position:fixed;
	right:23px;
	bottom:34px;
	width:120px;
	z-index:20000000;
}

#popup-facebook {
	display:none;
	position:fixed;
	right:23px;
	bottom:34px;
	height:280px;
	width:300px;
	z-index:20000000;
}
