@media screen
{

/* basic elements */
    #body-content table
    {
        border-collapse: collapse;
        border-spacing: 0;
    }
    #body-content fieldset, #body-content img
    {
        border: 0;
        max-width:100%;
    }
    #body-content address, #body-content caption, #body-content cite, #body-content code, #body-content dfn, #body-content em, #body-content strong, #body-content th, #body-content var, #body-content optgroup
    {
        font-style: inherit;
        font-weight: inherit;
    }
    #body-content del, #body-content ins
    {
        text-decoration: none;
    }
    #body-content ol li
    {
        list-style: decimal;
    }
    #body-content ul li
    {
        list-style: none;
    }
    #body-content caption, #body-content th
    {
        text-align: left;
    }
    #body-content h1, #body-content h2, #body-content h3, #body-content h4, #body-content h5, #body-content h6
    {
        font-size: 100%;
    }
    #body-content q:before, #body-content q:after
    {
        content: '';
    }
    #body-content abbr, #body-content acronym
    {
        border: 0;
        font-variant: normal;
    }
    #body-content sup, #body-content sub
    {
        vertical-align: baseline;
    }
    #body-content tt, #body-content .qmlreadonly span, #body-content .qmldefault span
    {
        word-spacing:0.5em;
    }
    #body-content legend
    {
        color: #000000;
    }
    #body-content strong
    {
        font-weight: bold;
    }
    #body-content em
    {
        font-style: italic;
    }
    #body-content a
    {
        color: #00732F;
        text-decoration: none;
    }
    #body-content hr
    {
        background-color: #E6E6E6;
        border: 1px solid #E6E6E6;
        height: 1px;
        width: 100%;
        text-align: left;
        margin: 1.5em 0 1.5em 0;
    }

    #body-content pre
    {
        border: 1px solid #DDDDDD;
        -moz-border-radius: 0.7em 0.7em 0.7em 0.7em;
        -webkit-border-radius: 0.7em 0.7em 0.7em 0.7em;
        border-radius: 0.7em 0.7em 0.7em 0.7em;
        margin: 0 1.5em 1em 1em;
        padding: 1em 1em 1em 1em;
        overflow-x: auto;
    }
    #body-content table, #body-content pre
    {
        -moz-border-radius: 0.7em 0.7em 0.7em 0.7em;
        -webkit-border-radius: 0.7em 0.7em 0.7em 0.7em;
        border-radius: 0.7em 0.7em 0.7em 0.7em;
        background-color: #F6F6F6;
        border: 1px solid #E6E6E6;
        border-collapse: separate;
        margin-bottom: 2.5em;
    }
    #body-content pre {
        font-size: 90%;
        display: block;
        overflow:hidden;
    }
    #body-content thead
    {
        margin-top: 0.5em;
        font-weight: bold
    }
    #body-content th
    {
        padding: 0.5em 1.5em 0.5em 1em;
        background-color: #E1E1E1;
        border-left: 1px solid #E6E6E6;
    }
    #body-content td
    {
        padding: 0.25em 1.5em 0.25em 1em;
    }

    #body-content td.rightAlign
    {
        padding: 0.25em 0.5em 0.25em 1em;
    }
    #body-content table tr.odd
    {
        border-left: 1px solid #E6E6E6;
        background-color: #F6F6F6;
        color: black;
    }
    #body-content table tr.even
    {
        border-left: 1px solid #E6E6E6;
        background-color: #ffffff;
        color: #202020;
    }

    #body-content div.float-left
    {
        float: left; margin-right: 2em
    }
    #body-content div.float-right
    {
        float: right; margin-left: 2em
    }

    #body-content span.comment
    {
        color: #008B00;
    }
    #body-content span.string, #body-content span.char
    {
        color: #000084;
    }
    #body-content span.number
    {
        color: #a46200;
    }
    #body-content span.operator
    {
        color: #202020;
    }
    #body-content span.keyword
    {
        color: #840000;
    }
    #body-content span.name
    {
        color: black
    }
    #body-content span.type
    {
        font-weight: bold
    }
    #body-content span.type a:visited
    {
        color: #0F5300;
    }
    #body-content span.preprocessor
    {
        color: #404040
    }
/* end basic elements */

/* font style elements */
    #body-content .heading
    {
        font-weight: bold;
        font-size: 125%;
    }
    #body-content .subtitle
    {
        font-size: 110%
    }
    #body-content .small-subtitle
    {
        font-size: 100%
    }
    #body-content .red
    {
        color:red;
    }
/* end font style elements */

/* global settings*/
    #body-content .header, #body-content .footer
    {
        display: block;
        clear: both;
        overflow: hidden;
    }
/* end global settings*/

/* header elements */
    #body-content .header .qtref
    {
        color: #00732F;
        font-weight: bold;
        font-size: 130%;
    }

    #body-content .header .content
    {
        margin-bottom: 0.5em
    }

    #body-content .header .breadcrumb
    {
        font-size: 90%;
        padding: 0.5em 0 0.5em 1em;
        margin: 0;
        background-color: #fafafa;
        height: 1.35em;
        border-bottom: 1px solid #d1d1d1;
    }

    #body-content .header .breadcrumb ul
    {
        margin: 0;
        padding: 0;
    }

    #body-content .header .content
    {
        word-wrap: break-word;
    }

    #body-content .header .breadcrumb ul li
    {
        float: left;
        background: url(../images/breadcrumb.png) no-repeat 0 3px;
        padding-left: 1.5em;
        margin-left: 1.5em;
    }

    #body-content .header .breadcrumb ul li.last
    {
        font-weight: normal;
    }

    #body-content .header .breadcrumb ul li a
    {
        color: #00732F;
    }

    #body-content .header .breadcrumb ul li.first
    {
        background-image: none;
        padding-left: 0;
        margin-left: 0;
    }

    #body-content .header .content ol li {
        background: none;
        margin-bottom: 1.0em;
        margin-left: 1.2em;
        padding-left: 0
    }

    #body-content .header .content li
    {
        background: url(../images/bullet_sq.png) no-repeat 0 5px;
        margin-bottom: 1em;
        padding-left: 1.2em;
    }

/* end header elements */

/* content elements */
    #body-content .content h1
    {
        font-weight: bold;
        font-size: 130%
    }

    #body-content .content h2
    {
        font-weight: bold;
        font-size: 120%;
        width: 100%;
    }
    #body-content .content h3
    {
        font-weight: bold;
        font-size: 110%;
        width: 100%;
    }
    #body-content .content table p
    {
        margin: 0
    }
    #body-content .content ul
    {
        padding-left: 2.5em;
    }
    #body-content .content li
    {
        padding-top: 0.25em;
        padding-bottom: 0.25em;
    }
    #body-content .content ul img {
        vertical-align: middle;
    }

    #body-content .content a:visited
    {
        color: #4c0033;
        text-decoration: none;
    }

    #body-content .content a:visited:hover
    {
        color: #4c0033;
        text-decoration: underline;
    }

    #body-content a:hover
    {
        color: #4c0033;
        text-decoration: underline;
    }
    #body-content descr p a
    {
        text-decoration: underline;
    }

    #body-content .descr p a:visited
    {
        text-decoration: underline;
    }

    #body-content .alphaChar{
        width:95%;
        background-color:#F6F6F6;
        border:1px solid #E6E6E6;
        -moz-border-radius: 7px 7px 7px 7px;
        border-radius: 7px 7px 7px 7px;
        -webkit-border-radius: 7px 7px 7px 7px;
        font-size:12pt;
        padding-left:10px;
        margin-top:10px;
        margin-bottom:10px;
    }
    #body-content .flowList{
        /*vertical-align:top;*/
        /*margin:20px auto;*/

        column-count:3;
        -webkit-column-count:3;
        -moz-column-count:3;
/*
        column-width:100%;
        -webkit-column-width:200px;
        -col-column-width:200px;
*/
        column-gap:41px;
        -webkit-column-gap:41px;
        -moz-column-gap:41px;

        column-rule: 1px dashed #ccc;
        -webkit-column-rule: 1px dashed #ccc;
        -moz-column-rule: 1px dashed #ccc;
    }

    #body-content .flowList dl{
    }
    #body-content .flowList dd{
        /*display:inline-block;*/
        margin-left:10px;
        min-width:250px;
        line-height: 1.5;
        min-width:100%;
        min-height:15px;
    }

    #body-content .flowList dd a{
    }

    #body-content .content .flowList p{
        padding:0px;
    }

    #body-content .content .alignedsummary
    {
        margin: 15px;
    }


    #body-content .qmltype
    {
        text-align: center;
        font-size: 120%;
    }
    #body-content .qmlreadonly
    {
        padding-left: 5px;
        float: right;
        color: #254117;
    }

    #body-content .qmldefault
    {
        padding-left: 5px;
        float: right;
        color: red;
    }

    #body-content .qmldoc
    {
    }

    #body-content .generic .alphaChar{
        margin-top:5px;
    }

    #body-content .generic .odd .alphaChar{
        background-color: #F6F6F6;
    }

    #body-content .generic .even .alphaChar{
        background-color: #FFFFFF;
    }

    #body-content .memItemRight{
        padding: 0.25em 1.5em 0.25em 0;
    }
    #body-content .highlightedCode
    {
        margin: 1.0em;
    }
    #body-content .annotated td {
        padding: 0.25em 0.5em 0.25em 0.5em;
    }

    #body-content .toc
    {
        font-size: 80%
    }

    #body-content .header .content .toc ul
    {
        padding-left: 0px;
    }

    #body-content .content .toc h3 {
        border-bottom: 0px;
        margin-top: 0px;
    }

    #body-content .content .toc h3 a:hover {
        color: #00732F;
        text-decoration: none;
    }

    #body-content .content .toc .level2
    {
        margin-left: 1.5em;
    }

    #body-content .content .toc .level3
    {
        margin-left: 3.0em;
    }

    #body-content .content ul li
    {
        background: url(../images/bullet_sq.png) no-repeat 0 0.7em;
        padding-left: 1em
    }

    #body-content .content .toc li
    {
        background: url(../images/bullet_dn.png) no-repeat 0 5px;
        padding-left: 1em
    }

    #body-content .relpage
    {
        -moz-border-radius: 7px 7px 7px 7px;
        -webkit-border-radius: 7px 7px 7px 7px;
        border-radius: 7px 7px 7px 7px;
        border: 1px solid #DDDDDD;
        padding: 25px 25px;
        clear: both;
    }
    #body-content .relpage ul
    {
        float: none;
        padding: 1.5em;
    }

    #body-content h3.fn, #body-content span.fn
    {
        -moz-border-radius:7px 7px 7px 7px;
        -webkit-border-radius:7px 7px 7px 7px;
        border-radius:7px 7px 7px 7px;
        background-color: #F6F6F6;
        border-width: 1px;
        border-style: solid;
        border-color: #E6E6E6;
        font-weight: bold;
        word-spacing:3px;
        padding:3px 5px;
    }

    #body-content .functionIndex {
        font-size:12pt;
        word-spacing:10px;
        margin-bottom:10px;
        background-color: #F6F6F6;
        border-width: 1px;
        border-style: solid;
        border-color: #E6E6E6;
        -moz-border-radius: 7px 7px 7px 7px;
        -webkit-border-radius: 7px 7px 7px 7px;
        border-radius: 7px 7px 7px 7px;
        width:100%;
    }

    #body-content .centerAlign
    {
        text-align:center;
    }

    #body-content .rightAlign
    {
        text-align:right;
    }

    #body-content .leftAlign
    {
        text-align:left;
    }

    #body-content .topAlign{
        vertical-align:top
    }

    #body-content .functionIndex a{
        display:inline-block;
    }

/* end content elements */
/* footer elements */

    #body-content .footer
    {
        color: #393735;
        font-size: 0.75em;
        text-align: center;
        padding-top: 1.5em;
        padding-bottom: 1em;
        background-color: #E6E7E8;
        margin: 0;
    }
    #body-content .footer p
    {
        margin: 0.25em
    }
    #body-content .small
    {
        font-size: 0.5em;
    }
/* end footer elements */

    #body-content .item {
      float: left;
      position: relative;
      width: 100%;
      overflow: hidden;
    }


    #body-content .item .primary {
      margin-right: 220px;
      position: relative;
    }

    #body-content .item hr {
      margin-left: -220px;
    }

    #body-content .item .secondary {
      float: right;
      width: 200px;
      position: relative;
    }

    #body-content .item .cols {
      clear: both;
      display: block;
    }

    #body-content .item .cols .col {
      float: left;
      margin-left: 1.5%;
    }

    #body-content .item .cols .col.first {
      margin-left: 0;
    }

    #body-content .item .cols.two .col {
      width: 45%;
    }

    #body-content .item .box {
      margin: 0 0 10px 0;
    }

    #body-content .item .box h3 {
      margin: 0 0 10px 0;
    }

    #body-content .cols.unclear {
        clear:none;
    }
}

/* end of screen media */

/* start of print media */

@media print
{
    #body-content input, #body-content textarea, #body-content .header, #body-content .footer, #body-content .toolbar, #body-content .feedback, #body-content .wrapper .hd, #body-content .wrapper .bd .sidebar, #body-content .wrapper .ft, #feedbackBox, #blurpage, #body-content .toc, #body-content .breadcrumb, #body-content .toolbar, #body-content .floatingResult
    {
        display: none;
        background: none;
    }
    #body-content .content
    {
        background: none;
        display: block;
        width: 100%; margin: 0; float: none;
    }
}
/* end of print media */
