body {
    margin: 0; 
    padding: 0;
    background-color: #ffffff;
}

#logoarea {
    left: 0px;
    height: 45px;
    width: 100%;
    border: 0px;
    top: 0px;
    position: fixed;
    background-color: #2c6dcf;
    background-image: url('../ui_images/blue_header.png');
    background-repeat: repeat-y;
}

#logoarea img {
    border: 0 none;
}

#librarylink {
    position: absolute;
    left: 30px;
    top: 14px;
}

#title_and_swipe {
    margin-left: 2em;
    margin-right: 10px;
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 15px;
}

#title_and_swipe h5 {
    display: inline;
    font-weight: normal;
    color: white;
    font-size: 16px;
}

#swipelink {
    float: right;
}

#swipelink img {
    border: 0;
}

#content_and_sidebar {
    background-color: white;
    padding: 10px;
    top: 125px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
}

#sidebar {
    position: absolute;
    top: 0px;left:0px; bottom: 0px;
    overflow: hidden;
    width: 310px; 
    background-color: white;
    border-right-style: groove;
    padding: 10px;
    padding-top: 10px;
    opacity: 1.0; /* overrides resizable-disabled */
}

#body-content {
    position: absolute;
    top: 0px; bottom: 0px; right:0px; left: 350px;
    background-color: white;
    padding-right: 10px;
    overflow: auto;
}

.sidebar-tab { 
    position: absolute;
    top: 0px; bottom: 0px; right:4px; left: 0px;     
    display: none;
    overflow: auto;
    padding-top: 8px;
    padding-left: 10px;       
}

.highlight { 
    background-color: #F2B111;
}

#tabs { 
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    position: fixed;
    top: 45px; 
    left: 0px;
    height: 80px;
    width: 100%;
    background-color: #5c5d5e;
    background-image: url('../ui_images/header_grey.png');
    background-repeat: repeat-y;
   /*  background: -moz-linear-gradient(left,  #D1D1D1,  #B0B0B0);
    background: -webkit-gradient(linear, left right, left right, from(#D1D1D1), to(#B0B0B0));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D1D1D1', endColorstr='#B0B0B0'); */
}

#tabs * {
    font-family: Tahoma, Geneva, sans-serif;
}

#tabs ul { 
    list-style-type: none;
    padding: 0;
    border: 0;
    margin: 0px;
    position: absolute;
    top: 55px;
}

#tabs li {
    display: inline;
    font-size: 16px;
    margin-left: 30px;
    margin-right: 30px;
}

#tabs a, #tabs a:link, #tabs a:visited, #tabs a:hover {
    color: #DDDDDD;
    outline-style: none;
    text-decoration: none;
    font-weight: normal;
}

#tabs a:hover {
    color: #FFFFFF;
}

#tabs a.selected {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: white;
    padding-bottom: 4px;
    color: #FFFFFF;
}

#tabs img {
    border: 0;
}

#search-box { 
    position: absolute;
    top: 125px;
    z-index: 10;
    width: 311px;
    padding: 5px 0 0 0;
    background-color: white;
    overflow: hidden;
    color: #555555;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
}

#search-box a:link {
    text-decoration: none;
}

#search-box a:hover {
    text-decoration: underline;
}

#hline {  
    display: block;
    width: 295px;
    margin: 5px 0 0 10px;
    border-bottom: solid 1px grey;
}

#search-box fieldset {  
    border: 0;
    width: inherit;
    white-space:nowrap;
}

#search-field {
    position: relative;            
    margin: 0;
    padding: 0;
    top: -9px;
    left: 18px;
    width: 220px;
    height: 22px;
}

#search-button {
    position: relative;
    left: 11px;
}

#search-box fieldset a {  
    position: relative;
    left: 73px;
    display: block;
    width: 200px;
    text-align: right;   
    outline: 0;
    color: #0066cb !important;  
}

#package-select { 
    position: relative;
    left: 63px;
    width: 220px;
}

#highlight-checkbox {  
    position: relative;
    left: 143px;
}

#checkbox { 
    position: relative;            
    top: 2px;
}

div.search-result {  
    display: block;
    padding: 8px 0;                    
}

#search-results ul {
    margin: 0;
    padding: 0;                 
    list-style-type: none;
}

#search-results li {  
    display: inline;
    margin: 2px;                 
}

#search-results li span {
   font-weight: bold;                    
}

#search-results .ellipsis {
    margin: 0px;
    font-size: 75%;                          
}

#search-results li a {  
    color: #4198e2 !important;  
}

#search-results h3 {
    font-weight: normal;
    font-size: 17px;                    
    color: #808080;
}

#search-results h4 { 
    margin: 0;                    
}

#search-results h5 { 
    margin: 0;     
    font-weight: normal; 
    color: #808080;               
}

#search-results { 
  padding-bottom: 10px;                
}

#search-tab { 
   padding: 0 10px;      
   text-align: left;            
}

#version-nbr {
    color: #B0B0B0;
}

#tooltip {
    font-size: 12px;
    font-family: Tahoma,Geneva,sans-serif;
    color: #555555;
}

