*{ margin:0; padding:0;}
img{ border:0;}
input{ border:none;}
a{ color:#333333; text-decoration:none}
a:hover{ color:#09c100; text-decoration:underline}
h1,h2,h3,h4,h5,h6{ font-size:12px; font-weight:normal}
body{ font-family:"宋体",Arial, Helvetica, sans-serif; font-size:12px; color:#333333;}
body ul{ list-style:none}
body li{ list-style:none;}


.main{ width:960px; height:auto; margin: 0 auto;}
.index_top{ width:960px; float:left;}
.index_top_t{ width:958px; float:left; height:auto; border:1px solid #ccc; border-bottom:none;}
.index_top_dl{ width:938px; height:29px; float:left; padding-left:20px;}
.index_top_js{ width:233px; float:left; background:url(../images/index_top_05.gif) 0px 10px no-repeat; padding-top:8px; padding-left:16px;}
.index_top_login{ width:500px; float:left;}
.index_top_login ul li{ float:left; padding-top:4px; width:140px;}
.index_top_login ul li input{ width:88px; height:17px; border:1px solid #ccc;}
.index_top_login ul li.b{ width:50px; float:left;}
.index_top_login ul li.b input.ban{ width:50px; height:19px; float:left; background:url(../images/index_top_03.gif) no-repeat; border:none; margin-top:1px; color:#FFFFFF;}
.index_top_login ul li.z{ width:50px; text-align:center; padding-top:7px;}
.index_top_login ul li span{ width:50px;}
.index_top_right{ width:147px; float:right; height:26px;}
.index_top_right ul li{ width:60px; float:left; text-align:center; padding-left:10px; padding-top:11px;}
.index_top_right ul li.add1{ width:60px; float:left; background:url(../images/b1.png) no-repeat 0px 10px;}
.index_top_right ul li.add2{ width:60px; float:left; background:url(../images/b2.png) no-repeat 0px 10px;}


.index_nt{ width:960px; float:left; height:84px; padding-top:8px;}

.index_banner{ width:760px; height:78px; float:left; padding-left:26px;}


.index_nav{ width:960px; float:left; height:32px; background:url(../images/index_top_26.gif) no-repeat;}
#nav {MARGIN: 0px auto; WIDTH: 960px; HEIGHT: 32px}

.sitenav {WIDTH: 948px;BACKGROUND-REPEAT: repeat-x;FLOAT: left;HEIGHT: 25px;PADDING-TOP: 2px}
.sitenav LI {TEXT-ALIGN: center;PADDING-BOTTOM: 0px;PADDING-LEFT: 5px;WIDTH: 62px;PADDING-RIGHT: 5px;FLOAT: left;FONT-SIZE: 14px;FONT-WEIGHT: bold;MARGIN-RIGHT: 1px;PADDING-TOP: 0px;}
.sitenav LI#top10 {
	WIDTH: 50px
}
.sitenav LI A { padding-top:6px;
	WIDTH: 62px;
	DISPLAY: block;
	HEIGHT: 20px;
	COLOR: #fff;
	TEXT-DECORATION: none
}
.sitenav LI.current A { background:url(../images/index_top_07.gif) bottom no-repeat center;}
.sitenav LI A:hover { background:url(../images/index_top_07.gif) bottom center no-repeat; COLOR: #fff; TEXT-DECORATION: none}
.subnav {
	Z-INDEX: 99;
	POSITION: absolute;
	WIDTH: 100px;
	BACKGROUND: url(../images/poptop.gif) no-repeat 50% top;
	MARGIN-LEFT: -16px;
	PADDING-TOP: 6px
}
.innerpop {
	BORDER-BOTTOM: #2f4c97 3px solid;
	BORDER-LEFT: #2f4c97 1px solid;
	WIDTH: 98px;
	DISPLAY: block;
	BACKGROUND: #fff;
	BORDER-TOP: #2f4c97 0px solid;
	BORDER-RIGHT: #2f4c97 3px solid
}
.innerpop SPAN {
	BORDER-BOTTOM: #d5d5d5 1px solid;
	TEXT-ALIGN: left;
	MARGIN: 0px auto;
	WIDTH: 94px;
	DISPLAY: block;
	HEIGHT: 24px;
	FONT-SIZE: 12px;
	OVERFLOW: hidden;
	FONT-WEIGHT: normal
}
.innerpop SPAN A {
	PADDING-LEFT: 6px;
	WIDTH: 94px;
	DISPLAY: block;
	HEIGHT: 24px;
	COLOR: #0b2f84
}
.innerpop SPAN A:hover {
	BACKGROUND: #0b2f84;
	COLOR: #fff;
	TEXT-DECORATION: none
}
.innerpop SPAN.popend {
	BORDER-BOTTOM: medium none
}
.teampop {
	Z-INDEX: 99;
	POSITION: absolute;
	WIDTH: 179px;
	BACKGROUND: url(../images/teamtop.gif) no-repeat 50% top;
	MARGIN-LEFT: 16px; _margin-left:-14px; *margin-left:-14px;
	PADDING-TOP: 6px;
}
.innerteam {
	BORDER-BOTTOM: #2f4c97 3px solid;
	BORDER-LEFT: #2f4c97 1px solid;
	WIDTH: 177px;
	DISPLAY: block;
	BACKGROUND: #fff;
	OVERFLOW: hidden;
	BORDER-TOP: #2f4c97 0px solid;
	BORDER-RIGHT: #2f4c97 3px solid
}
.teamleft {
	WIDTH: 88px;
	FLOAT: left;
	BORDER-RIGHT: #2f4c97 1px solid
}
.teamright {
	WIDTH: 88px;
	FLOAT: right
}
.innerteam SPAN {
	BORDER-BOTTOM: #d5d5d5 1px solid;
	TEXT-ALIGN: left;
	MARGIN: 0px auto;
	WIDTH: 84px;
	DISPLAY: block;
	HEIGHT: 24px;
	FONT-SIZE: 12px;
	OVERFLOW: hidden;
	FONT-WEIGHT: normal
}
.innerteam SPAN A {
	PADDING-LEFT: 6px;
	WIDTH: 84px;
	DISPLAY: block;
	HEIGHT: 24px;
	COLOR: #0b2f84
}
.innerteam SPAN A:hover {
	BACKGROUND: #0b2f84;
	COLOR: #fff;
	TEXT-DECORATION: none
}
.innerteam SPAN.popend {
	BORDER-BOTTOM: medium none
}
.sitenav LI .subnav {
	DISPLAY: none
}
.sitenav LI.shownav .subnav {
	DISPLAY: block
}
.sitenav LI .teampop {
	DISPLAY: none
}
.sitenav LI.shownav .teampop {
	DISPLAY: block
}


.index_top_news{ width:960px; float:left; height:auto; margin-top:10px; background:url(../images/index_top_28.gif) no-repeat top; padding-top:7px;}
.index_top_hot{ width:943px; float:left; border:1px solid #ccc; border-top:none; height:185px; padding-left:15px;}
.index_top_hot_ne{ width:943px; float:left;}
.index_top_hot_ne ul li{ width:167px; float:left; line-height:24px; background:url(../images/index_top_30.gif) no-repeat 0px 10px; padding-left:10px; padding-right:10px;}
.index_top_hot_ne ul li.ne a{ color:#aa0000;}
.index_top_banner{ width:943px; float:left; margin-top:10px;}
.index_top_banner h3{ width:658px; height:90px; float:left;}
.index_top_banner ul{ width:282px; float:left; padding-left:3px; display:block;}
.index_top_banner ul li{ width:126px; float:left; background:url(../images/index_top_30.gif) no-repeat 6px 8px; line-height:23px; padding-left:12px;}
.index_top_banner ul li.ne a{ color:#aa0000;}

.index_top_search{ width:960px; float:left; height:39px; background:url(../images/index_top_44.gif) bottom no-repeat;}
.index_top_search ul{ width:948px; height:26px; float:left; border-left:1px solid #ccc; border-right:1px solid #ccc; display:block; padding:6px 0 0 10px;}
.index_top_search ul li b{ width:100px; float:left; color:#00a820; font-size:14px; padding-top:6px;}
.index_top_search ul li span.pu{ width:330px; height:24px; float:left; background:url(../images/index_top_31.gif) repeat-x;}
.index_top_search ul li span.pu input{ width:306px; height:24px; float:left; border:1px solid #ccc; line-height:22px; padding-left:22px; background:url(../images/index_top_41.gif) no-repeat;}
.index_top_search ul li span.bant input{ width:60px; height:26px; float:left; background:url(../images/index_top_38.gif) no-repeat; margin-left:10px;}
.index_top_search ul li span.hot{ width:430px; float:left; padding-left:10px;}
.index_top_search ul li span.hot b{ width:65px; float:left; font-size:12px;}
.index_top_search ul li span.hot strong{ padding-top:8px; float:left; font-weight:normal;}

.index_top_center{ width:960px; height:646px; float:left; margin-top:10px;}
.index_top_center_left{ width:310px; height:646px; float:left;}
.index_top_center_left_js{ width:300px; height:160px; float:left; background:url(../images/index_js_32.gif) no-repeat; padding:5px;}
.index_top_left_ks{ width:310px; height:251px; float:left; margin-top:9px; background:url(../images/index_top_left_15.gif) no-repeat bottom;}
.ks_ma{ width:308px; height:244px; float:left; border:1px solid #ccc; border-bottom:none;}

.optionn2{width:308px; height:auto; overflow:hidden;}
.optionn2_net{ width:308px; height:33px; float:left; background:url(../images/index_top_left_03.gif) repeat-x;}
.optionn2_net h3{ width:100px; height:25px; float:left; background:url(../images/index_top_left_09.gif) 10px 8px no-repeat; font-size:14px; font-weight:bold; padding-left:28px; padding-top:8px;}
.optionn2_title{ width:180px; height:32px; float:right; overflow:hidden; background:url(../images/main_ztop_16.gif) repeat-x;}
.optionn2_title ul{ float:left; width:auto; list-style:none;}
.optionn2_title li{ float:left; overflow:hidden; width:60px; height:27px; text-align:center; font-size:14px; display:inline; padding-top:7px;}
.tab222_active0,.tab222_active1,.tab222_active2{ width:60px; height:27px;verflow:hidden; display:block; cursor:pointer; background:url(../images/index_top_left_05.gif) no-repeat; color:#33532c; font-weight:bold;}
.tab222_normal0,.tab222_normal1,.tab222_normal2{ width:60px; height:27px; verflow:hidden; display:block; cursor:pointer; color:#33532c; background:url(../images/index_top_left_04.gif) no-repeat;}
.none{ display:none;}
#myTab222_Content0,#myTab222_Content1,#myTab222_Content2{  width:100%; height:auto; margin:auto;}
.nav_nr_js{ width:308px; float:left; display:block; padding-top:3px;}
.nav_nr_js ul li{ width:288px; float:left; background:url(../images/main_ztop_12.gif) no-repeat 10px 8px; line-height:21px; padding-left:20px;}

.ks_dh{ height:207px;}
.dh{ height:200px;}
.nav_nr_dh{ width:308px; height:167px; float:left;}
.nav_nr_dh ul li{ width:97px; height:17px; float:left; background:url(../images/index_top_left_19.gif) no-repeat 20px 8px; padding:14px 0px 0 43px;}
.nav_nr_dh h3{ width:262px; height:35px; float:left; padding:6px 0px 0px 20px;}

.index_top_cen{ width:412px; float:left; height:auto; margin-left:9px; display:inline; display:block;}
.index_top_cen_js{ width:412px; float:left; height:346px; background:url(../images/center_34.gif) no-repeat bottom;}
.index_top_cen_js_hot{ width:412px; float:left; height:30px; background:url(../images/center_07.gif) no-repeat; padding-top:4px;}
.index_top_cen_js_hot h3{ width:367px; float:right; background:url(../images/center_33.gif) no-repeat; height:23px; padding-left:40px; font-size:14px; font-weight:bold; padding-top:7px;}
.index_top_hot_news{ width:410px; height:305px; float:left; border-left:1px solid #ccc; border-right:1px solid #ccc;}
.index_top_hot_news h3{ width:410px; float:left; height:20px; padding-top:10px; display:block; text-align:center; font-size:16px; font: "黑体" Arial, Helvetica, sans-serif; font-weight:bold;}
.index_top_hot_news h3 a{ color:#aa0000;}
.index_top_hot_news ul{ width:410px; float:left; height:55px; padding-top:10px; display:block; background:url(../images/center_18.gif) no-repeat bottom;}
.index_top_hot_news ul li{ width:180px; float:left; background:url(../images/index_top_30.gif) 10px 10px no-repeat; line-height:24px; padding-left:20px;}
.index_top_hot1{ width:410px; float:left;}
.index_top_hot1 ul{ width:410px; float:left; background:none; height:auto;}
.index_top_hot1 ul li{ width:390px; float:left; line-height:20px;}
.index_top_hot1 ul li span{ width:350px; float:left;}

.index_top_cen_zd{ width:412px; float:left; margin-top:8px; _margin-top:11px; height:292px; background:url(../images/center_34.gif) no-repeat bottom;}

.optionn2a{width:412px; height:auto; overflow:hidden;}
.optionn2a_title{ width:412px; height:30px; float:left; overflow:hidden; background:url(../images/center_26.gif) no-repeat;}
.optionn2a_title ul{ float:left; width:auto; list-style:none; padding-left:5px; padding-top:4px;}
.optionn2a_title li{ float:left; overflow:hidden; width:69px; height:26px; text-align:center; font-size:12px; display:inline; padding-top:7px; margin-left:5px; display:inline;}
.tab222a_active0,.tab222a_active1,.tab222a_active2,.tab222a_active3{ width:69px; height:26px;verflow:hidden; display:block; cursor:pointer; background:url(../images/center_31_1.gif) no-repeat; color:#df0000; font-weight:bold;}
.tab222a_normal0,.tab222a_normal1,.tab222a_normal2,.tab222a_normal3{ width:69px; height:25px; verflow:hidden; display:block; cursor:pointer; color:#333; background:url(../images/center_31.gif) no-repeat;}
.none{ display:none;}
#myTab222a_Content0,#myTab222a_Content1,#myTab222a_Content2,#myTab222a_Content3{  width:100%; height:auto; margin:auto;}
.nav_nr_jsa{ width:410px; height:252px; float:left; display:block; padding-top:3px; border-left:1px solid #ccc; border-right:1px solid #ccc;}
.nav_nr_jsa ul li{ width:390px; float:left; background:url(../images/index_top_30.gif) no-repeat 10px 10px; line-height:21px; padding-left:20px;}
.nav_nr_jsa ul li span{ width:350px; float:left;}

.index_top_cen_right{ width:220px; height:646px; float:right; background:url(../images/center_09.gif) no-repeat top;}
.index_top_cen_right h3{ width:185px; height:23px; float:left; background:url(../images/index_top_left_09.gif) 15px 11px no-repeat; font-size:14px; font-weight:bold; padding:11px 0 0 35px;}
.index_top_cen_right h4{ width:220px; height:7px; float:left;}
.cen_right_dj{ width:218px; height:600px; _ height:602px; float:left; border-left:1px solid #ccc; border-right:1px solid #ccc; padding-top:5px;}
.cen_right_dj ul li{ width:192px; float:left; line-height:22px; background:url(../images/center_14.gif) no-repeat 6px 6px; padding-left:26px;}
.cen_right_dj ul li a{ color:#B50004;}
.cen_right_dj ul li a:hover{ color:#000000;}
.cen_right_dj ol{ width:218px; float:left; text-align:center; padding-top:10px;}
.cen_right_dj ol li{ width:218px; float:left; height:65px;}

.banner{ width:960px; float:left; height:80px; margin-top:9px;}
.banner ul li{ width:476px; float:left; height:80px;}
.banner ul li.img{ float:right;}

.index_center{ width:960px; float:left; margin-top:9px;}
.index_center_ck{ width:960px; float:left; height:auto;}
.index_center_ck_left{ width:640px; height:394px; float:left;}

.optionn2b{width:640px; height:auto; overflow:hidden;}
.optionn2b_title{ width:639px; height:41px; float:left; overflow:hidden; padding-top:1px; padding-left:1px; background:url(../images/index_tt_75.gif) no-repeat;}
.optionn2b_title ul{ float:left; width:auto; list-style:none;}
.optionn2b_title li{ float:left; overflow:hidden; width:213px; height:31px; text-align:center; font-size:14px; display:inline; font-weight:bold; padding-top:10px;}
.tab222b_active0,.tab222b_active1,.tab222b_active2{ width:213px; height:31px;verflow:hidden; display:block; cursor:pointer; background:url(../images/index_tt_73.gif) no-repeat; color:#df0000; font-weight:bold;}
.tab222b_normal0,.tab222b_normal1,.tab222b_normal2{ width:213px; height:31px; verflow:hidden; display:block; cursor:pointer; color:#333;}
#myTab222b_Content0,#myTab222b_Content1,#myTab222b_Content2{  width:100%; height:auto; margin:auto;}
.nav_nr_jsb{ width:626px; height:336px; float:left; display:block; padding-top:3px; border:1px solid #ccc; border-top:none; padding:12px 0 0 12px;}

.nav_nr_jsb_left{ width:232px; float:left; height:auto;}
.nav_nr_jsb_left_img{ width:232px; float:left; height:118px;}
.nav_nr_jsb_left_img ul li{ width:222px; float:left; text-align:center;}
.nav_nr_jsb_left_img ul li a{ width:222px; float:left; height:112px; border:1px solid #ccc; padding:4px 4px 0 4px; text-decoration:none;}
.nav_nr_jsb_left_img ul li a:hover{ border:1px solid #aa0000; color:#aa0000;}
.nav_nr_jsb_mn{ width:232px; height:204px; float:left; margin-top:10px; background:url(../images/index_tt_76.gif) no-repeat top;}
.nav_nr_jsb_mn h3{ width:70px; height:18px; float:left; padding-left:16px; text-align:center; padding-top:6px;}
.nav_nr_jsb_mn ul{ width:229px; height:168px; float:left; background:url(../images/index_tt_32.gif) no-repeat 3px 12px; padding:12px 0px 0px 3px; display:block;}
.nav_nr_jsb_mn ul li{ width:209px; float:left; padding-left:20px; height:24px;}

.nav_nr_jsb_right{ width:350px; float:left; margin-left:22px; display:inline; display:block; background:url(../images/center_18.gif) no-repeat 0px 146px;}
.nav_nr_jsb_right h3{ width:350px; height:26px; float:left; background:url(../images/index_tt_28.gif) no-repeat bottom; text-align:center;}
.nav_nr_jsb_right h3 a{ padding:3px; padding-right:3px;}
.nav_nr_jsb_right_news{ width:350px; float:left; padding-top:10px;}
.nav_nr_jsb_right_news h4{ width:350px; height:16px; float:left; text-align:center; font-size:16px; font-weight:bold;}
.nav_nr_jsb_right_news h4 a{ color:#aa0000;}
.nav_nr_jsb_right_news ul{ width:350px; float:left; line-height:24px; padding-top:15px;}
.nav_nr_jsb_right_news ul li{ width:338px; float:left; background:url(../images/index_top_30.gif) no-repeat 0px 10px; padding-left:12px; font-size:14px;}
.nav_nr_jsb_right_news ul li span{ width:295px; float:left;}
.nav_nr_jsb_right_news ul li.ne_img{ width:350px; height:20px; float:left; background:url(../images/index_tt_28.gif) no-repeat 0px 8px; overflow:hidden;}

.index_center_ck_right{ width:319px; height:auto; float:left; border:1px solid #ccc; border-left:none; border-bottom:none;}
.ck_right_dh{ width:319px; float:left; height:129px; border-bottom:1px solid #ccc; background:url(../images/index_tt_77.gif) no-repeat;}
.ck_right_dh h3{ width:319px; height:25px; float:left;}
.ck_right_dha{ width:285px; float:left; border:1px dashed #ccc; margin-left:13px; display:inline; display:block; margin-top:10px; padding:8px 0px 2px 5px;}
.ck_right_dha ul li{ width:87px; height:37px; float:left; margin-left:4px; display:inline; }
.ck_right_dha ul li a{ width:87px; height:23px; float:left; text-align:center; background:url(../images/index_tt_13.gif) no-repeat;font-weight:bold; padding-top:8px; color:#333;}
.ck_right_dha ul li a:hover{ background:url(../images/index_tt_11.gif) no-repeat; text-decoration:none; color:#aa0000;}

.ze{ margin-top:7px;}


.optionn2c{width:640px; height:auto; overflow:hidden;}
.optionn2c_title{ width:639px; height:41px; float:left; overflow:hidden; padding-top:1px; padding-left:1px; background:url(../images/index_tt_75.gif) no-repeat;}
.optionn2c_title ul{ float:left; width:auto; list-style:none;}
.optionn2c_title li{ float:left; overflow:hidden; width:213px; height:31px; text-align:center; font-size:14px; display:inline; font-weight:bold; padding-top:10px;}
.tab222c_active0,.tab222c_active1,.tab222c_active2{ width:213px; height:31px;verflow:hidden; display:block; cursor:pointer; background:url(../images/index_tt_71.gif) no-repeat; color:#003366; font-weight:bold;}
.tab222c_normal0,.tab222c_normal1,.tab222c_normal2{ width:213px; height:31px; verflow:hidden; display:block; cursor:pointer; color:#333;}
#myTab222c_Content0,#myTab222c_Content1,#myTab222c_Content2{  width:100%; height:auto; margin:auto;}

.zea{ background:url(../images/index_tt_79.gif) no-repeat;}


.optionn2d{width:640px; height:auto; overflow:hidden;}
.optionn2d_title{ width:639px; height:41px; float:left; overflow:hidden; padding-top:1px; padding-left:1px; background:url(../images/index_tt_75.gif) no-repeat;}
.optionn2d_title ul{ float:left; width:auto; list-style:none;}
.optionn2d_title li{ float:left; overflow:hidden; width:213px; height:31px; text-align:center; font-size:14px; display:inline; font-weight:bold; padding-top:10px;}
.tab222d_active0,.tab222d_active1,.tab222d_active2{ width:213px; height:31px;verflow:hidden; display:block; cursor:pointer; background:url(../images/index_tt_72.gif) no-repeat; color:#003366; font-weight:bold;}
.tab222d_normal0,.tab222d_normal1,.tab222d_normal2{ width:213px; height:31px; verflow:hidden; display:block; cursor:pointer; color:#333;}
#myTab222d_Content0,#myTab222d_Content1,#myTab222d_Content2{  width:100%; height:auto; margin:auto;}

.index_footer{ width:960px; float:left;}
.index_footer_friendlink{ width:958px; float:left; border:1px solid #e1e1e1; margin-top:9px; padding-bottom:10px;}
.index_footer_friendlink h3{ width:938px; float:left; height:20px; font-size:14px; font-weight:bold; color:#000; padding:10px 0 0 20px; border-bottom:1px solid #e1e1e1;}
.index_footer_friendlink ul{ width:948px; float:left; text-align:left; margin-top:10px;}
.index_footer_friendlink ul li{ float:left; padding:0 7px 0 8px;}

.index_footer_copyright{ width:960px; float:left; margin-top:9px; height:90px;}
.index_footer_copyright ul{ width:960px; height:23px; float:left; background-color:#f1f1f1; margin-top:1px; text-align:center; padding-top:11px;}
.index_footer_copyright ol{ width:960px; float:left; text-align:center; line-height:24px; padding-top:5px;}


.TB_js{ width:300px; float:left; height:160px; overflow:hidden;}
.container{ width:300px; height:160px; position:relative;}
#idPicText{background:#eee; line-height:0px; text-align:center; font-weight:bold; width:300px; white-space:nowrap; overflow:hidden; font-size:12px;}
#idPicText a{ text-decoration:none; color:#ef1d4c; display:block;}
#idNum{ position:absolute; right:5px; bottom:5px;}
#idNum li{ float: left; list-style:none; color: #fff; text-align: center; line-height: 16px; width: 16px; height: 16px; font-family: Arial; font-size: 12px; cursor: pointer; margin: 1px; border: 1px solid #ff7300; background-color: #fff; color:#ff7300;}
#idNum li.on{line-height: 16px; width: 16px; height: 16px; font-size: 14px; border:1px solid #ff7300; background-color: #ff7300; color:#FFFFFF; font-weight:bold;}

/*频道头部JS通用CSS*/
.div_head2 {
 PADDING-LEFT: 0px; WIDTH: 958px; height:39px; float:left; PADDING-RIGHT: 0px; background:url(../images/cy_03.gif) repeat-x;}
.cy_logo{ width:69px; height:35px; float:left; padding:0px 10px 0 10px;}
.cy_logo ul{ width:69px; height:35px; float:left;}
.cy_logo ul li a{width:69px; height:35px; float:left; background:url(../../images/logo_b.gif) no-repeat; display:block; text-indent:-9999px;}
.div_head2 IMG {
	MARGIN: 0px 8px
}
.div_head2 A:visited {
	COLOR: #333
}
.div_head21 {
	POSITION: relative; MARGIN: 5px 0px 0px; FONT: bold 14px/26px arial
}
.div_head21 LI {
	POSITION: relative; PADDING-BOTTOM: 0px; padding:0px 12px 0 12px; text-align:center; background:url(../images/cy_01.gif) no-repeat left; FLOAT: left; PADDING-TOP: 0px
}
.div_head21 A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 10px; DISPLAY: block; background:url(../images/cy_02.gif) no-repeat 100% 50%; COLOR: #333; PADDING-TOP: 0px
}
.div_head21 LI.no {
	FONT-WEIGHT: normal
}
.div_head21 LI.no A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; BACKGROUND: none transparent scroll repeat 0% 0%; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.div_head21 A:hover {
	BACKGROUND: #fff; TEXT-DECORATION: none
}
.div_head21 :hover > A {
	BACKGROUND: #fff; COLOR: #f60; TEXT-DECORATION: none
}
.div_head21 LI.no:hover > A {
	COLOR: #333
}
.div_head21 LI.no A:hover {
	COLOR: #f60
}
.div_head21 UL {
	BORDER-BOTTOM: #aabcce 4px solid; POSITION: absolute; BORDER-LEFT: #aabcce 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: 12px/22px arial; BACKGROUND: #fff; VISIBILITY: hidden; BORDER-TOP: #aabcce 1px solid; TOP: 0px; BORDER-RIGHT: #aabcce 4px solid; PADDING-TOP: 0px; LEFT: -1px
}
.div_head21 UL LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 0px
}
.div_head21 TABLE {
	POSITION: absolute; TOP: 0px; LEFT: 0px
}
.div_head21 UL A {
	BORDER-BOTTOM: #dfdfdf 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #2b518a; PADDING-TOP: 0px
}
.div_head21 UL A:visited {
	BORDER-BOTTOM: #dfdfdf 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #2b518a; PADDING-TOP: 0px
}
.div_head21 UL A:hover {
	BACKGROUND: #30528f; COLOR: #fff; TEXT-DECORATION: none
}
.div_head21 UL :hover > A {
	BACKGROUND: #30528f; COLOR: #fff
}
.div_head21 LI:hover UL {
	VISIBILITY: visible
}
.div_head21 A:hover UL {
	VISIBILITY: visible
}
.div_head21 UL LI.act {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 11px; PADDING-RIGHT: 10px; background:url(../images/cy_05.gif) repeat-x; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid; PADDING-TOP: 0px
}
.div_head21 UL LI.act A {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 10px; FONT: bold 14px/22px arial; BACKGROUND: url(../images/cy_02.gif) no-repeat 100% 50%; COLOR: #2b518a; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.div_head21 UL LI.act A:hover {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 10px; FONT: bold 14px/22px arial; BACKGROUND: url(../images/cy_02.gif) no-repeat 100% 50%; COLOR: #2b518a; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.div_head21 UL LI.act A:visited {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 10px; FONT: bold 14px/22px arial; BACKGROUND: url(../images/cy_02.gif) no-repeat 100% 50%; COLOR: #2b518a; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
UL.ul_w1 {WIDTH: 78px}
UL.ul_w1 A {WIDTH: 64px}
UL.ul_w2 {WIDTH: 108px}
UL.ul_w2 A {WIDTH: 94px}
UL.ul_w3 {WIDTH: 93px}
UL.ul_w3 A {WIDTH: 79px}
UL.ul_w4 {WIDTH: 87px}
UL.ul_w4 A {WIDTH: 73px}

/*通用列表CSS*/
.cy_lb_right_img_a{ width:340px; height:190px; float:left; margin-top:8px;}
.cy_center_bj h4{ width:587px; float:left; height:auto; margin-top:20px;}



/*通用头部站外链接*/
.cy_pd_bg{ width:938px; float:left; height:119px; border:1px solid #dcdcdc; margin-top:7px; padding:10px 10px 0 10px;}
.cy_pd_bg_news{ width:160px; float:left;}
.cy_pd_bg_news ul li{ width:150px; float:left; line-height:22px; background:url(../images/index_top_30.gif) no-repeat 0px 9px; padding-left:10px;}
.cy_pd_bg_news ul li.pd_hot a{ color:#FF0000;}

.cy_pd_img{ width:602px; float:left; height:110px; padding-left:10px;}
.cy_pd_img ul li{ width:190px; float:left; background:url(../images/index_top_30.gif) no-repeat 0px 9px; line-height:22px; padding-left:10px;}
.cy_pd_img h3{ width:602px; height:83px; float:left;}
.cy_pd_img ul li.cy_img_hot a{ color:#FF0000;}

.news_a{ padding-left:10px; width:150px;}
.news_a ul li{ width:140px;}

/*通用地方站链接*/
.cy_pd_dq{ width:960px; float:left; margin-top:8px; height:60px;}
.cy_pd_dqa{ width:776px; height:58px; float:left; border:1px solid #e1e1e1; background:url(../images/cy_pd_14.gif) no-repeat left top;}
.cy_pd_dqa ul{ padding-left:70px; float:left; width:707px; display:block; height:50px; padding-top:8px;}
.cy_pd_dqa ul li{ width:43px; text-align:center; float:left; background:url(../images/cy_37.gif) no-repeat right; line-height:22px;}
.cy_pd_dqa ul li.cy_dqa_neno{ background-image:none;}
.cy_pd_dqa ul li.cu_a{ width:55px; float:left; text-align:center;}

.cy_pd_tj{ width:146px; height:58px; float:right; border:1px solid #e1e1e1; background:url(../images/cy_pd_16.gif) no-repeat left top; padding-left:25px;}
.cy_pd_tj ul li{ width:126px; height:22px; float:left; background:url(../images/cy_pd_19.gif) no-repeat center; text-align:center; padding-left:20px; line-height:23px; margin-top:4px;}

/*会计从业*/
.kb{ width:960px; float:left; height:auto; background:url(../images/kb_bg.gif) no-repeat 0px -79px; padding-top:13px; margin-top:8px;}
.kb_hd{ width:420px; height:25px; float:left; text-align:center;}

.kb_top{ width:960px; float:left; height:25px;}
.kb_lg{ width:530px; height:25px; float:left; text-align:right; padding-right:10px; color:#FFFFFF;}
.kb_lg ul li a{ color:#FFFFFF;}

.kb_bann{ width:938px; float:left; height:auto; border:1px solid #f36e37; border-top:none; padding:10px;}
.kb_bann_left{ width:220px; float:left; height:auto; background:url(../images/kb_01.gif) repeat-y right; padding-right:12px; padding-bottom:6px;}
.kb_bann_left h3{ width:202px; float:left; height:20px; border-bottom:1px solid #dcdcdc; background:url(../images/kb_bg.gif) no-repeat -47px 4px; padding-left:18px; padding-top:4px; font-size:14px; font-weight:bold; color:#000000;}
.kb_bann_left dl{ width:220px; float:left; height:100px; display:block; padding-top:10px; background:url(../images/kb_07.gif) repeat-x bottom;}
.kb_bann_left dl dd{ width:84px; height:94px; float:left; text-align:center;}
.kb_bann_left dl dd span{ width:84px; float:left;}
.kb_bann_left dl dd span img{ border:1px solid #e0e0e0; padding:1px;}
.kb_bann_left dl dd b{ width:84px; height:14px; float:left; text-align:center; font-weight:normal; padding-top:6px;}
.kb_bann_left dl dt{ width:125px; float:right; line-height:20px;}
.kb_bann_left dl dt a{ color:#FF0000;}

.kb_center{ width:468px; float:left; height:auto; margin-left:13px; display:inline; display:block;}
.kb_table{ width:454px; float:left; height:auto; border:1px solid #d7dadc; padding:5px 6px 6px 6px;}
.kb_table table{ border:1px solid #efefef; border-right:none; border-bottom:none;}
.kb_table table tr td{ border-right:1px solid #efefef; border-bottom:1px solid #efefef; color:#005599;}
.kb_table table tr td a{ color:#005599}
.kb_table table tr td.bjcs{ background-color:#f3f3f3; font-weight:bold; color:#000000;}
.kb_table table tr td.left_to{ padding-left:10px;}
.kb_table table tr td.buttom{ background:url(../images/kb_bg.gif) no-repeat 7px 3px;}
.kb_table table tr td.buttom a{ color:#FFFFFF;}
.kb_table table tr td.buttom a:hover{ color:#FF0000;}
.kb_table table tr td span{ color:#FF0000;}

.kb_news{ width:468px; float:left; padding-top:6px; line-height:20px;}
.kb_news a{ color:#FF0000;}

.kb_right{ width:212px; float:right; height:auto; border:1px solid #fdefe9;}
.kb_right h4{ width:196px; height:19px; float:left; background:url(../images/kb_bg.gif) no-repeat 0px -47px; font-weight:bold; padding:6px 0 0 16px;}
.kb_right ul{ width:192px; height:auto; float:left; padding:10px; line-height:20px;}

/*初级会计职称*/
.kb_table_cah_1{ width:454px; float:left; height:auto; border:1px solid #d7dadc; padding:5px 6px 6px 6px; border-top:none;}
.kb_table_cah_1 tr td{ height:26px;}

.optionn2eh_js{width:468px; height:auto; overflow:hidden;}
.optionn2eh_js_title{ width:468px; height:23px; float:left; overflow:hidden; background:url(../images/kb_JS_bj.gif) repeat-x;}
.optionn2eh_js_title ul{ float:left; width:auto; list-style:none; padding-left:2px;}
.optionn2eh_js_title li{ float:left; overflow:hidden; width:90px; height:18px; font-size:12px; display:inline; display:inline; text-align:center; padding-top:5px; margin-left:4px; display:inline;}
.tab222eh_js_active0,.tab222eh_js_active1,.tab222eh_js_active2,.tab222eh_js_active3{ width:90px; height:18px;verflow:hidden; display:block; cursor:pointer; background:url(../images/kb_JS.gif) no-repeat; color:#df0000; font-weight:bold;}
.tab222eh_js_normal0,.tab222eh_js_normal1,.tab222eh_js_normal2,.tab222eh_js_normal3{ width:90px; height:18px; verflow:hidden; display:block; cursor:pointer; color:#333; background:url(../images/kb_JS_1.gif) no-repeat left;}
.none{ display:none;}
#myTab222eh_js_Content0,#myTab222eh_js_Content1,#myTab222eh_js_Content2,#myTab222eh_js_Content3{  width:100%; height:auto; margin:auto;}
.nav_nr_jseh{ width:468px; height:auto; float:left; display:block; padding-top:5px;}

.kb_news_cah{ width:468px; float:left; padding-top:10px; line-height:25px;}
.kb_news_cah a{ color:#FF0000;}

.kb_news_cahd{ width:468px; float:left; padding-top:10px; line-height:21px;}
.kb_news_cahd a{ color:#FF0000;}

/*注册税务师*/
.kb_table_cah_4{ border-top:none;}
.kb_table_cah_4 tr td{ height:35px;}
.kb_table table tr td.bjcs_z{ background-color:#f3f3f3; font-weight:bold; color:#000000;}

.kb_table table tr td.buttom_z{ background:url(../images/kb_bg.gif) no-repeat 7px 9px; padding-top:1px;}
.kb_table table tr td.buttom_z a{ color:#FFFFFF;}
.kb_table table tr td.buttom_z a:hover{ color:#FF0000;}

/*高级会计师考试辅导*/
.kb_table_cah_6{ border-top:none;}
.kb_table_cah_6 tr td{ height:42px;}


/*资产评估师*/
.kb_table_cah_z{ width:454px; float:left; height:auto; border:1px solid #d7dadc; padding:5px 6px 6px 6px;}
.kb_table_cah_z tr td{ height:27px;}

/*审计师*/
.kb_news_cahd_s{ width:468px; float:left; padding-top:10px; line-height:23px;}

/*内审师*/
.kb_table_cah_11{ width:454px; float:left; height:auto; border:1px solid #d7dadc; padding:5px 6px 6px 6px;}
.kb_table_cah_11 tr td{ height:38px;}

/*ACCA*/
.kb_table_cah_a13{ width:454px; float:left; height:auto; border:1px solid #d7dadc; padding:5px 6px 6px 6px;}
.kb_table_cah_a13 tr td{ height:25px;}
.kb_table table tr td.left_to_a{ padding-left:10px; background-color:#f0f0f0;}

.kb_table table tr td.left_to_bg{ padding-left:28px; background:url(../images/kb_06.gif) no-repeat 6px 6px;}

/*医药类课表*/

/*执业医师*/
.kb_yy{ width:960px; float:left; height:auto; margin-top:8px;}
.kb_yy_hd{ width:229px; height:38px; float:left; background:url(../images/yiyao/yy_kb.gif) no-repeat 36px -57px;}
.kb_yy_top{ width:960px; float:left; height:38px; background:url(../images/yiyao/yy_kb.gif) no-repeat 0px -9px;}

.kb_yy_lg{ width:710px; height:18px; float:right; text-align:right; padding:15px 10px 0 0; color:#FFFFFF;}
.kb_yy_lg ul li a{ color:#FFFFFF;}

.kb_yy_tan{ width:260px; height:16px; float:left; background:url(../images/yiyao/yy_kb_jsbg.gif) no-repeat; text-align:center; margin-left:10px; padding-top:6px; font-weight:bold;}
.kb_table_cah_yy_0{}
.kb_table_cah_yy_0 tr td{ height:26px;}
/*卫生资格*/
.kb_yy_hd_1{ width:240px; height:38px; float:left; background:url(../images/yiyao/yy_kb.gif) no-repeat -203px -57px; margin-left:36px;}

.kb_yy_lg_1{ width:640px; height:18px; float:right; text-align:right; padding:15px 10px 0 0; color:#FFFFFF;}
.kb_yy_lg_1 ul li a{ color:#FFFFFF;}

.kb_table_cah_yy{ width:454px; float:left; height:auto; border:1px solid #d7dadc; padding:5px 6px 6px 6px; border-top:none;}
.kb_table_cah_yy tr td{ height:26px;}

.kb_table_cah_yy table tr td.buttom1{ background:url(../images/kb_bg.gif) no-repeat 7px 9px;}
.kb_table_cah_yy table tr td.buttom1 a{ color:#FFFFFF;}
.kb_table_cah_yy table tr td.buttom1 a:hover{ color:#FF0000;}

/*执业药师2*/
.kb_yy_hd_2{ width:230px; height:38px; float:left; background:url(../images/yiyao/yy_kb.gif) no-repeat -459px -57px; margin-left:40px;}
.kb_table_cah_yy_2{ border-top:none;}
.kb_table_cah_yy_2 tr td{ height:26px;}
/*护士资格3*/
.kb_yy_hd_3{ width:240px; height:38px; float:left; background:url(../images/yiyao/yy_kb.gif) no-repeat -703px -57px; margin-left:36px;}

/*实践技能4*/
.kb_yy_hd_4{ width:288px; height:38px; float:left; background:url(../images/yiyao/yy_kb.gif) no-repeat 0px -111px; margin-left:36px;}

.kb_yy_lg_4{ width:600px; height:18px; float:right; text-align:right; padding:15px 10px 0 0; color:#FFFFFF;}
.kb_yy_lg_4 ul li a{ color:#FFFFFF;}

.kb_table_cah_yy_4{ width:454px; float:left; height:auto; border:1px solid #d7dadc; padding:5px 6px 6px 6px; border-top:none;}
.kb_table_cah_yy_4 tr td{ height:42px;}
.kb_table_cah_yy_4 table tr td.buttom{ background:url(../images/kb_bg.gif) no-repeat 7px 12px;}
.kb_table_cah_yy_4 table tr td.buttom a{ color:#FFFFFF;}
.kb_table_cah_yy_4 table tr td.buttom a:hover{ color:#FF0000;}


/*临床执业医师5*/
.kb_yy_hd_5{ width:288px; height:38px; float:left; background:url(../images/yiyao/yy_kb.gif) no-repeat -298px -111px; margin-left:36px;}
.kb_table_cah_yy_5{ border-top:none;}
.kb_table_cah_yy_5 tr td{ height:26px;}

/*临床助理执业医师6*/
.kb_yy_hd_6{ width:288px; height:38px; float:left; background:url(../images/yiyao/yy_kb.gif) no-repeat -596px -111px; margin-left:36px;}

/*中医医师7*/
.kb_yy_hd_7{ width:240px; height:38px; float:left; background:url(../images/yiyao/yy_kb.gif) no-repeat 0px -166px; margin-left:36px;}

/*中医助理医师8*/
.kb_yy_hd_8{ width:240px; height:38px; float:left; background:url(../images/yiyao/yy_kb.gif) no-repeat -250px -166px; margin-left:36px;}

/*中西医医师9*/
.kb_yy_hd_9{ width:265px; height:38px; float:left; background:url(../images/yiyao/yy_kb.gif) no-repeat 0px -223px; margin-left:36px;}

/*中西医助理医师10*/
.kb_yy_hd_10{ width:265px; height:38px; float:left; background:url(../images/yiyao/yy_kb.gif) no-repeat -275px -223px; margin-left:36px;}

/*口腔医师11*/
.kb_yy_hd_11{ width:241px; height:38px; float:left; background:url(../images/yiyao/yy_kb.gif) no-repeat 0px -276px; margin-left:36px;}

/*口腔助理医师12*/
.kb_yy_hd_12{ width:241px; height:38px; float:left; background:url(../images/yiyao/yy_kb.gif) no-repeat -251px -276px; margin-left:36px;}

/*公卫医师13*/
.kb_yy_hd_13{ width:241px; height:38px; float:left; background:url(../images/yiyao/yy_kb.gif) no-repeat -500px -166px; margin-left:36px;}

/*公卫助理医师14*/
.kb_yy_hd_14{ width:241px; height:38px; float:left; background:url(../images/yiyao/yy_kb.gif) no-repeat -550px -223px; margin-left:36px;}

/*内科主治医师15*/
.kb_yy_hd_15{ width:241px; height:38px; float:left; background:url(../images/yiyao/yy_kb.gif) no-repeat -709px -276px; margin-left:36px;}

/*外科主治医师16*/
.kb_yy_hd_16{ width:241px; height:38px; float:left; background:url(../images/yiyao/yy_kb.gif) no-repeat 0px -328px; margin-left:36px;}

/*妇产科主治医师17*/
.kb_yy_hd_17{ width:263px; height:38px; float:left; background:url(../images/yiyao/yy_kb.gif) no-repeat -251px -328px; margin-left:36px;}

/*初级药士/初级药师/主管药师网校辅导18*/
.kb_yy_hd_18{ width:397px; height:38px; float:left; background:url(../images/yiyao/yy_kb.gif) no-repeat -524px -328px; margin-left:36px;}

.kb_yy_lg_18{ width:500px; height:18px; float:right; text-align:right; padding:15px 10px 0 0; color:#FFFFFF;}
.kb_yy_lg_18 ul li a{ color:#FFFFFF;}

/*中药士/中药师/主管中药师网校辅导19*/
.kb_yy_hd_19{ width:377px; height:38px; float:left; background:url(../images/yiyao/yy_kb.gif) no-repeat 0px -379px; margin-left:36px;}

.kb_table_cah_yy_19{ width:454px; float:left; height:auto; border:1px solid #d7dadc; padding:5px 6px 6px 6px; border-top:none;}
.kb_table_cah_yy_19 tr td{ height:42px;}
.kb_table_cah_yy_19 table tr td.buttom{ background:url(../images/kb_bg.gif) no-repeat 7px 12px;}
.kb_table_cah_yy_19 table tr td.buttom a{ color:#FFFFFF;}
.kb_table_cah_yy_19 table tr td.buttom a:hover{ color:#FF0000;}

/*检验技士/技师/主管技师网校辅导20*/
.kb_yy_hd_20{ width:354px; height:38px; float:left; background:url(../images/yiyao/yy_kb.gif) no-repeat -387px -379px; margin-left:36px;}

.kb_table_cah_yy_20{ width:454px; float:left; height:auto; border:1px solid #d7dadc; padding:5px 6px 6px 6px; border-top:none;}
.kb_table_cah_yy_20 tr td{ height:30px;}
.kb_table_cah_yy_20 table tr td.buttom{ background:url(../images/kb_bg.gif) no-repeat 7px 6px;}
.kb_table_cah_yy_20 table tr td.buttom a{ color:#FFFFFF;}
.kb_table_cah_yy_20 table tr td.buttom a:hover{ color:#FF0000;}

/*建筑类*/

/*一级建筑师 0*/
.kb_jz_top{ width:960px; float:left; height:38px; background:url(../images/jianzhu/jz_kb.gif) no-repeat 0px -9px;}
.kb_jz_hd{ width:173px; height:38px; float:left; background:url(../images/jianzhu/jz_kb.gif) no-repeat 0px -57px; margin-left:36px;}

.jianzhu p{ width:468px; float:left; line-height:18px;}

/*二级建筑师 1*/
.kb_jz_hd_1{ width:173px; height:38px; float:left; background:url(../images/jianzhu/jz_kb.gif) no-repeat -181px -57px; margin-left:36px;}

/*监理工程师 2*/
.kb_jz_hd_2{ width:220px; height:38px; float:left; background:url(../images/jianzhu/jz_kb.gif) no-repeat -365px -57px; margin-left:36px;}

/*造价工程师 3*/
.kb_jz_hd_3{ width:220px; height:38px; float:left; background:url(../images/jianzhu/jz_kb.gif) no-repeat -597px -57px; margin-left:36px;}

/*房地产估价师 4*/
.kb_jz_hd_4{ width:241px; height:38px; float:left; background:url(../images/jianzhu/jz_kb.gif) no-repeat 0px -111px; margin-left:36px;}

/*咨询工程师 5*/
.kb_jz_hd_5{ width:220px; height:38px; float:left; background:url(../images/jianzhu/jz_kb.gif) no-repeat -250px -111px; margin-left:36px;}

.kb_table_cah_zj{ width:454px; float:left; height:auto; border:1px solid #d7dadc; padding:5px 6px 6px 6px; border-top:none;}
.kb_table_cah_zj tr td{ height:36px;}
.kb_table_cah_zj table tr td.buttom{ background:url(../images/kb_bg.gif) no-repeat 7px 6px;}
.kb_table_cah_zj table tr td.buttom a{ color:#FFFFFF;}
.kb_table_cah_zj table tr td.buttom a:hover{ color:#FF0000;}

/*安全工程师 6*/
.kb_jz_hd_6{ width:220px; height:38px; float:left; background:url(../images/jianzhu/jz_kb.gif) no-repeat -481px -111px; margin-left:36px;}

/*造价员 7*/
.kb_jz_hd_7{ width:174px; height:38px; float:left; background:url(../images/jianzhu/jz_kb.gif) no-repeat -712px -111px; margin-left:36px;}

/*房地产经纪人 8*/
.kb_jz_hd_8{ width:240px; height:38px; float:left; background:url(../images/jianzhu/jz_kb.gif) no-repeat 0px -166px; margin-left:36px;}

.kb_table_cah_zjt{ width:454px; float:left; height:auto; border:1px solid #d7dadc; padding:5px 6px 6px 6px;}
.kb_table_cah_zjt table tr td{ height:27px;}
.kb_table_cah_zjt table tr td.buttom{ background:url(../images/kb_bg.gif) no-repeat 10px 3px;}

/*城市规划师 9*/
.kb_jz_hd_9{ width:217px; height:38px; float:left; background:url(../images/jianzhu/jz_kb.gif) no-repeat -252px -166px; margin-left:36px;}

/*设备监理师 10*/
.kb_jz_hd_10{ width:218px; height:38px; float:left; background:url(../images/jianzhu/jz_kb.gif) no-repeat -479px -166px; margin-left:36px;}
.kb_table_cah_yy_10{ border-top:none;}
.kb_table_cah_yy_10 tr td{ height:23px;}

/*注册建筑师 11*/
.kb_jz_hd_11{ width:219px; height:38px; float:left; background:url(../images/jianzhu/jz_kb.gif) no-repeat -707px -166px; margin-left:36px;}

/*结构工程师 12*/
.kb_jz_hd_12{ width:217px; height:38px; float:left; background:url(../images/jianzhu/jz_kb.gif) no-repeat 0px -223px; margin-left:36px;}

.jz_kb_new{ width:454px; float:left; padding-top:4px; line-height:20px;}
.jz_kb_new ul li b{ color:#FF0000; font-weight:normal;}

/*土地估价师 13*/
.kb_jz_hd_13{ width:217px; height:38px; float:left; background:url(../images/jianzhu/jz_kb.gif) no-repeat -227px -223px; margin-left:36px;}
.kb_table_cah_13{ border-top:none;}
.kb_table_cah_13 tr td{ height:29px;}

/*公路监理师 14*/
.kb_jz_hd_14{ width:217px; height:38px; float:left; background:url(../images/jianzhu/jz_kb.gif) no-repeat -454px -223px; margin-left:36px;}

/*安全评价师 15*/
.kb_jz_hd_15{ width:219px; height:38px; float:left; background:url(../images/jianzhu/jz_kb.gif) no-repeat -681px -223px; margin-left:36px;}
.kb_table_cah_15{ border-top:none;}
.kb_table_cah_15 tr td{ height:34px;}

/*土地代理人 16*/
.kb_jz_hd_16{ width:219px; height:38px; float:left; background:url(../images/jianzhu/jz_kb.gif) no-repeat 0px -276px; margin-left:36px;}

/*环保工程师 17*/
.kb_jz_hd_17{ width:217px; height:38px; float:left; background:url(../images/jianzhu/jz_kb.gif) no-repeat -227px -276px; margin-left:36px;}
.kb_table_cah_17{ border-top:none;}
.kb_table_cah_17 tr td{ height:29px;}

/*岩土工程师 18*/
.kb_jz_hd_18{ width:217px; height:38px; float:left; background:url(../images/jianzhu/jz_kb.gif) no-repeat -454px -276px; margin-left:36px;}
.kb_table_cah_18{ border-top:none;}
.kb_table_cah_18 tr td{ height:32px;}

/*岩土工程师 19*/
.kb_jz_hd_19{ width:216px; height:38px; float:left; background:url(../images/jianzhu/jz_kb.gif) no-repeat -681px -276px; margin-left:36px;}
.kb_table_cah_19{ border-top:none;}
.kb_table_cah_19 tr td{ height:35px;}

/*环境影响评价师 20*/
.kb_jz_hd_20{ width:262px; height:38px; float:left; background:url(../images/jianzhu/jz_kb.gif) no-repeat 0px -327px; margin-left:36px;}
.kb_table_cah_20{ border-top:none;}
.kb_table_cah_20 tr td{ height:29px;}

/*投资项目管理师 21*/
.kb_jz_hd_21{ width:263px; height:38px; float:left; background:url(../images/jianzhu/jz_kb.gif) no-repeat -274px -327px; margin-left:36px;}

/*质量专业资格考试 22*/
.kb_jz_hd_22{ width:289px; height:38px; float:left; background:url(../images/jianzhu/jz_kb.gif) no-repeat -548px -327px; margin-left:36px;}

/*通用底部广告位CSS*/
.cy_center_banner{ width:960px; height:79px; float:left; margin-top:8px;}
.cy_pd_bammer1{ width:960px; height:auto; float:left; margin-top:9px;}

/*列表分页CSS通用*/
	.pageLink,
	.epages{float:right; margin:0 10px 10px;padding:5px 0; margin-top:10px;}
	.pageLink a,.epages a,
	.list_page a,
	.list_page b { padding: 4px 4px 2px; border: 1px solid #ddd; background: #fff; text-align: center; font-size: 14px; }
	.pageLink a:hover,
	.epages a:hover,
	.list_page a:hover{ border: 1px solid #ddd; background: #ddd;color:#fff; text-align: center;  text-decoration: none; }

/*二级列表-1-2*/
.cy_center_jsctwo{ width:577px; height:auto; float:left; padding-left:10px; background:url(../images/index_tt_28.gif) 0px 200px repeat-x; font-size:14px;}
.cy_center_jsctwo ul{ width:577px; float:left; height:auto; padding:6px 0 5px 0px; display:block;}
.cy_center_jsctwo ul li{ width:567px; float:left; line-height:24px; padding-left:10px; background:url(../images/index_top_30.gif) no-repeat 0px 10px; color:#999999;}
.cy_center_jsctwo ul li span{ width:476px; float:left;}

/*列表地区CSS*/
.cy_lb_left_dq{ width:587px; float:left; margin-top:10px; height:auto; background:url(../../images/yiyao/cy_lb_6.gif) no-repeat; padding-bottom:10px;}
.cy_lb_left_dq h4{ width:63px; float:left; padding-left:30px; font-weight:bold; padding-top:6px;}
.cy_lb_left_dq ul li{ float:left; background:url(../../images/yiyao/cy_lb_7.gif) no-repeat 0px 7px; height:17px; padding:6px 12px 0 13px;}
.cy_lb_left_dq ul li a{color:#156aae;}


/*新版导航*/
.X_index_top{ width:960px; float:left; height:auto;}
.X_main_top_js{ width:948px; float:left; height:35px; padding-left:10px; border:1px solid #dddddd; background:url(../images/main_top_js_bj.gif) repeat-x; margin-top:8px; position:relative; z-index:99999;}


.s1{ width:98px; float:left; background:url(../images/main_top_js_09.gif) no-repeat right; height:31px; margin:5px 4px 0px 3px; display:inline;}
.s1 h3{ width:90px; float:left; background:url(../images/main_top_js_12.gif) no-repeat 78px 12px;}
.s1 h3 a{ font-size:14px; color:#323232; font-weight:bold; width:90px; height:25px; float:left; text-align:center; padding-top:6px;}
.s1 h3 a.hot{ color:#fffb98; background:url(../images/main_top_js_06.gif) no-repeat;}
.s1 ul{width:282px; float:left;background:url(../images/main_bj_03.gif) no-repeat top #8b0000;border:1px solid #ca2b2b;border-top:none;padding:5px;position:absolute; display:none; top: 34px;}
.s1 ul li{ width:94px; line-height:20px; float:left; text-align:left;}
.s1 ul li a{ width:84px; color:#FFFFFF; padding:3px 5px 3px 5px; white-space:nowrap; display:block;}
.s1 ul li a:hover{ color:#fffb98; background:#660002; text-decoration:none;}

.s1 ul.bot_1{left: 13px;}
.s1 ul.bot_2{left: 118px;}
.s1 ul.bot_3{left: 223px;}
.s1 ul.bot_4{left: 328px;}
.s1 ul.bot_5{left: 433px;}
.s1 ul.bot_6{left: 538px;}
.s1 ul.bot_7{left: 643px;}
.s1 ul.bot_8{left: 544px;}
.s1 ul.bot_9{left: 649px;}

.s9{ background:none;}

/*新版首页头部广告位*/
#top_box { width:960px; float:left; margin-top:10px;}
#top_box .logo{float:left;width:190px;height:87px;background:url(/dous/images/logo.png) no-repeat center center;}
#top_box .top_ad{float:right;width:768px;height:85px;border:1px solid #ddd;}
#top_box .ad450x75{float:left;padding-top:5px;}
#top_box .ad450x75 img{width:400px;height:75px;}
#top_box .ad_txt{float:left;width:173px;padding:10px 0 0 11px;}
#top_box .ad_txt li{color:#555;padding-left:7px;background:url(/dous/images/dian_2px.png) no-repeat left center; line-height:22px;}
#top_box .ad_txt li a{color:#555;}

#footer{border-top:1px solid #eee; text-align:center; padding:15px 0px; line-height:22px; width:960px; float:left;}