#logoarea, #sidebar, .tabs-show-hide, #tabs-show, #tabs-hide, .sidebar-tab, #tabs, .tabs { display: none; }

#body-content h1, #body-content h1.title {
    background-color: #ffffff;
    border-color: #ffffff;
}

#content_and_sidebar {
    background-color: #ffffff;
    padding: 10px;
    position: static;
}

#body-content, .body-content-small, .body-content-large {
    position: static;
    overflow: visible;
}

#search-box { 
    display: none; 
}
