/* Fix for the page with */
#body-content .content h3 {
    font-size: 110%;
    font-weight: bold;
    width: 99%;
}

#body-content div .toc {
    margin-top: 10px;
}

/*
#body-content div .toc {
    float: right;
    -moz-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
    background-color: #F6F6F6;
    border: 1px solid #DDDDDD;
    float: right;
    height: auto;
    margin: 0 20px 10px 10px;
    padding: 20px 15px 20px 20px;
    width: 200px;
}
#body-content div .toc ul {
    padding-left: 0px;
    padding-top: 10px;
    margin: 0;
}
#body-content div .toc h3 {
    margin: 0;
}
*/

#qtdocheader { display: none !important; }

/* overwrites blue link color from default.css */
#body-content a:link {
    color: #00732F;
}
#body-content a:hover {
    color: #4C0033;
}
