@charset "UTF-8";
/* Symbolset */
@font-face {
  font-family: "SSStandardRegular";
  src: url('/display/common/fonts/symbolset/ss-standard.eot');
  src: url('/display/common/fonts/symbolset/ss-standard.eot?#iefix') format('embedded-opentype'),
       url('/display/common/fonts/symbolset/ss-standard.woff') format('woff'),
       url('/display/common/fonts/symbolset/ss-standard.ttf') format('truetype'),
       url('/display/common/fonts/symbolset/ss-standard.svg#SSStandardRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Pictos */
@font-face {
font-family: 'Pictos';
src: url('/display/common/fonts/pictos/pictos-web.eot?#iefix') format('embedded-opentype'), 
	url('/display/common/fonts/pictos/pictos-web.woff') format('woff'), 
	url('/display/common/fonts/pictos/pictos-web.ttf') format('truetype'),
	url('/display/common/fonts/pictos/pictos-web.svg#webfontIyfZbseF') format('svg');
}

/* Common elements for grid structure */
.wrapper { width: 100%; }
.content { width: auto; max-width: 960px; margin: 0 auto; }
.row { margin-bottom: 20px; }
/* set grids */
	
.column, .columns { margin: 0 1.04166666666667%; }
.sixteen.column, .sixteen.columns { margin: 0; }
/* 0 10px on a 960px grid */
.sixteen { width: 100%; display: inline-block; float: left; margin-left: 0; margin-right: 0; }
.fifteen { width: 91.66666666666667%; display: inline-block; float: left; } /* 62.50000000000005   +  29.16666666666669 */
.fourteen { width: 85.41666666666667%; display: inline-block; float: left; } /* 58.33333333333338   +  27.08333333333336 */
.thirteen { width: 79.16666666666667%; display: inline-block; float: left; } /* 54.16666666666671   +   25.00000000000002 */
.twelve { width: 72.91666666666667%; display: inline-block; float: left; } /* 50.00000000000004   +  22.91666666666669 */
.eleven { width: 66.66666666666667%; display: inline-block; float: left; } /* 45.83333333333337   +  20.83333333333335 */
.ten { width: 60.41666666666667%; display: inline-block; float: left; } /* 41.6666666666667 + 18.75000000000002 */
.nine { width: 54.16666666666667%; display: inline-block; float: left; } /* 37.50000000000003 + 16.66666666666668 */
.eight { width: 47.91666666666667%; display: inline-block; float: left; } /* 33.33333333333336 + 14.58333333333335 */
.seven { width: 41.66666666666667%; display: inline-block; float: left; } /* 29.16666666666669 + 12.50000000000001 */
.six { width: 35.41666666666667%; display: inline-block; float: left; } /* 25.00000000000002   + 10.41666666666668 */
.five { width: 29.16666666666667%; display: inline-block; float: left; } /* 20.83333333333335   + 8.33333333333334  */
.four { width: 22.91666666666667%; display: inline-block; float: left; } /* 16.66666666666668   +  6.250000000000005 */
.three { width: 16.66666666666667%; display: inline-block; float: left; } /* 12.50000000000001 + 4.16666666666667 */
.two { width: 10.41666666666667%; display: inline-block; float: left; } /* 8.33333333333334 + 2.083333333333335 */
.one { width: 4.16666666666667%; display: inline-block; float: left; } /* 40px on a 960px grid */	
.one-third { width: 31.25%; display: inline-block; float: left; }
.two-thirds { width: 64.58333333333333%; display: inline-block; float: left; }
.alpha { margin-left: 0; }
.omega { margin-right: 0; }
.lrpad { padding-left: .5em; padding-right: .5em; }
.tbpad { padding-top: .5em; padding-bottom: .5em; }
.pad { padding: .5em; }
.blackBorder { border: 1px solid #000; }
/* IE7 Hacks, to compensate for rounding errors */
.ie7 .column, .ie7 .columns { margin: 1%; }
.ie7 .sixteen { width: 98%; display: inline-block; float: left; }
.ie7 .fifteen { width: 91%; display: inline-block; float: left; }
.ie7 .fourteen { width: 85%; display: inline-block; float: left; }
.ie7 .thirteen { width: 79%; display: inline-block; float: left; }
.ie7 .twelve { width: 72%; display: inline-block; float: left; }
.ie7 .eleven { width: 66%; display: inline-block; float: left; }
.ie7 .ten { width: 60%; display: inline-block; float: left; }
.ie7 .nine { width: 54%; display: inline-block; float: left; }
.ie7 .eight { width: 47%; display: inline-block; float: left; }
.ie7 .seven { width: 41%; display: inline-block; float: left; }
.ie7 .six { width: 35%; display: inline-block; float: left; }
.ie7 .five { width: 29%; display: inline-block; float: left; }
.ie7 .four { width: 23%; display: inline-block; float: left; }
.ie7 .three { width: 16%; display: inline-block; float: left; }
.ie7 .two { width: 10%; display: inline-block; float: left; }
.ie7 .one { width: 4%; display: inline-block; float: left; }

 /* Use clearfix class on parent to clear nested columns, or wrap each row of columns in a <div class="row"> */
.clearfix:before, .clearfix:after, .content:before, .content:after, .row:before, .row:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.row:after, .clearfix:after, .content:after { clear: both; }
.row, .clearfix, .content { zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }

/* Strap */
#pearsonTopLogoLink { float: left; background: url(/display/common/images/strap/pearsonLogo.png) no-repeat 0 0; height: 18px; width: 113px; margin: 13px 0 0 0; }
#pearsonAlwaysLearningImage { float: right; background: url(/display/common/images/strap/pearsonTag.png) no-repeat 0 0; height: 9px; width: 143px; margin: 18px 0 0 0; }

/* Footers */
#footer p.links { word-wrap: break-word; }

#footer { font-size: .9em; float: left; width: 100%; overflow: hidden; position: relative; text-align: center; padding: 0 0 1em 0; }
#footer ul { clear: left; float: left; list-style: none; margin: 0 0 1em 0; padding: 0 0 1em 1em; position: relative; left: 50%; text-align: center; }
#footer ul li { display: block; float: left; list-style: none; margin: 1em 1em 0 0; padding: 0 1em 0 0; position: relative; right: 50%; border-right: 1px solid #000;  }
#footer ul li:last-child { border: none; }
#footer p { clear: both; margin: 0; }

/* Custom Fonts */

.pic { font-family: 'Pictos', sans-serif !important; }

.ss-icon {
  font-family: "SSStandardRegular" !important;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -moz-font-feature-settings: "liga", "dlig";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

.break-word { white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
} 

.alert { font-weight: bold; color: #C00; margin: 2em 0; border: 2px solid 
#c00; padding: 1em 1em 1em 3em; display: inline-block; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
.check .alert { display: block; width: auto; }
.alert .ss-icon { font-size: 1.7em; margin: -.3em .3em -1em -1.2em; float: left; line-height: 1.7em; }

.crumb { font-size: 87%; margin: 0 0 1em; padding: 0; }
.crumb, .crumb a { color: #6D6F72; }
.crumb a:link, .crumb a:visited { text-decoration: underline; }
.crumb a:hover, .crumb a:active { text-decoration: none; }


/* ------------------------- CSS Buttons  -------------------------------*/
/* Fix for Mobile Safari default os styles */
input[type="submit"]{ -webkit-appearance: none; }

.button, .buttonLarge, .edit, .editSmall, .gray, .graySmall {
	display: inline-block;
	margin: 0 5px 0 0;
	text-decoration: none;
	vertical-align:middle;
	border: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	line-height:1.366; /* Resets to approximate default line-height in browsers, so button element can size correctly by comparison */
}

.button, .button:active, button, button:active, .gray, .graySmall { padding: .25em .75em; font-size: 1.1em; }
.ie7 .button, .ie7 .button:active, .ie7 button, .ie7 button:active, .ie7 .gray, .ie7 .graySmall, .ie8 .button, .ie8 .button:active, .ie8 button, .ie8 button:active, .ie8 .gray, .ie8 .graySmall, .ie a.button { padding: .25em .5em; }
.buttonLarge { padding: 1em 1.3em; }
.ie a.buttonLarge { padding: 11px 18px 8px 18px; }
.ie a.edit { padding: 4px 12px; }
.ie a.editSmall { padding: 1px 4px; }
.ie a.gray { padding: 4px 12px; }
.buy.button { padding: .35em .75em .3em .75em; line-height: 1.3em; }
.ipad .buy.button { padding: .35em .75em .6em .75em; line-height: 1.3em; }
.buy.button .ss-icon { font-size: .9em; padding: 0 .4em 0 0; }

.gray, .graySmall {
	background: #eee!important; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #ccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#ccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#ccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#ccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#ccc 100%); /* IE10+ */
	background: linear-gradient(top,  #eeeeee 0%,#ccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );  /* IE6-9 */
	color: #333!important;
	border: 1px solid #ccc;
}

.ie9 .gray, .ie9 .graySmall { background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc3OTkiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNFRUVFRUUiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNDQ0NDQ0MiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c3OTkpIiAvPgo8L3N2Zz4=); }

/* Size */
.editSmall, .graySmall, a.editSmall:link, a.graySmall:link, a.editSmall:visited, a.graySmall:visited, a.editSmall:hover, a.graySmall:hover, a.editSmall:active, a.graySmall:active { font-size: 10px !important; padding: 1px 6px 2px 7px; text-decoration: none;  }
.edit, .gray, a.edit:link, a.gray:link, a.edit:visited, a.gray:visited, a.edit:hover, a.gray:hover, , a.edit:active, a.gray:active { padding: 2px 12px; font-size:14px; }

/* IE9 hacks */
.ie9 .button, .ie10 .button, .ie9 .buttonLarge, .ie10 .buttonLarge, .ie9 .gray, .ie9 .graySmall, .ie10 .gray, .ie10 .graySmall { filter: none; }

/* Hover States */
.gray:hover, .graySmall:hover { filter: none; cursor: pointer; background: #ccc!important; }
.ie6 .gray:hover, .ie6 .graySmall:hover {filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ccc',GradientType=0 ); /* IE6-9 */}

/* General Form Styles */
fieldset { border: none; margin-bottom: 2em; }
fieldset legend { margin: 0; color: #000; }
fieldset h1 { padding: .2em .15em .2em .15em; }
.fence { padding: 1em; border: 1px solid #CCC; }
.fence fieldset { margin-bottom: 1em; }
.fence fieldset:last-child { margin-bottom: 0; }
form label { text-align: left; display: inline-block; margin-bottom: .25em; white-space: normal; font-weight: normal; margin-right: 0; }
.required { font-weight: bold; }
.note { margin-left: 1em; }
form .check label { display: inline; }
input[type=text], input[type=password], input[type=email], input[type=tel], input[type=number], textarea, select { padding: .4em; border: 1px solid #999; display: block; width: 16em; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; background: #eee; box-shadow: none; }
select { display: block; padding: .4em; width: 17em; border: 1px solid #999; background: #eee; box-shadow: none;}
input[type=checkbox], input[type=radio] { clear: left; display: inline-block; float: left; margin: 1px .7em 0 0; }
input[type=checkbox] { margin-bottom: .3em; }
input[type=checkbox]+label, input[type=radio]  { display: inline; }
.inline { display: inline !important; }
.multiAddress input[type=text], .multiPhone  input[type=text] { margin-bottom: 1em; }
.multiNumber { display: block; margin-bottom: 0; }
.multiNumber input[type=text], .multiNumber input[type=number], .multiNumber input[type=tel] { margin: 0 !important; display: inline !important; width: auto !important; }
.phoneArea { width: 4em !important; }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; /* Remove spinners */ }
.formComment { margin-top: .5em; }
.simpleFieldset .button { margin-top: .5em; }
.choiceset fieldset { margin-bottom: .25em; }

/* Viewport Detector (only used on design server) */
#viewport-detector { position: fixed; bottom: 45px; right: 0; z-index: 10000; padding: 5px 10px; background: #ccc; background: rgba(204, 204, 204, 0.85); }
#viewport-detector span { display: block; padding: 2px 0 2px 30px; font: 400 12px/1.625 "Helvetica Neue", Helvetica, Arial, sans-serif; }
#viewport-detector .dimensions { background: url(/display/common/images/viewport/icon-1.png) no-repeat left center; }
#viewport-detector .retina { background: url(/display/common/images/viewport/icon-2.png) no-repeat left center; }
#viewport-detector .pixel-ratio { background: url(/display/common/images/viewport/icon-3.png) no-repeat left center; }

body, .content, #hLogo, #headerLinks div, #headersearchform #query, #headersearchform #searchbutton { 
    transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -webkit-transition:all .2s linear;
}

/* Until the entire site is responsive, we keep these media queries in commonAll rather than the RWD CSS files */
/* Retina Strap Logos */
@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) { 
  #pearsonTopLogoLink { background: url(/display/common/images/strap/pearsonLogo@2x.png) no-repeat 0 0;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	}
	#pearsonAlwaysLearningImage { background: url(/display/common/images/strap/pearsonTag@2x.png) no-repeat 0 0;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	}
}

@media screen and (max-width: 600px) {	
	#strap { clear: both; position: relative !important; }
	#pearsonTopLogoLink { float: right; margin: 13px 10px 0 0; }
	#pearsonAlwaysLearningImage { float: left; margin: 18px 0 0 10px; }
}

@media screen and (max-width: 480px) {	
	#pearsonTopLogoLink { margin-right: 5px;  }
	#pearsonAlwaysLearningImage { margin-left: 5px; }
}	