/*  Zero Out Default Browser Styles  */

/* Remove underlines from links for legibility */
:link,:visited { text-decoration:none; }

/* Remove list markers */
/* ul,ol { list-style:none; } */

/* Avoid browser font size inconsistencies */
h1,h2,h3,h4,h5,h6,pre,code { font-size:1em; }

/* Remove margin and padding to avoid browser inconsistencies */
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input, dl, dt, dd
{ margin:0; padding:0; }

/* Bring back the lists */
ul, ol { margin-left:1.5em; }

/* Remove default border images */
a img,:link img,:visited img { border:none; }


/* Remove top/bottom margins from nested lists */
ul ul,   ul ol,   ul dir,   ul menu,   ul dl,
ol ul,   ol ol,   ol dir,   ol menu,   ol dl,
dir ul,  dir ol,  dir dir,  dir menu,  dir dl,
menu ul, menu ol, menu dir, menu menu, menu dl,
dl ul,   dl ol,   dl dir,   dl menu,   dl dl {
  margin-top: 0;
  margin-bottom: 0;
}


/* De-italicize address */
address { font-style:normal; }