BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 76% Verdana, Arial, Helvetica, sans-serif; COLOR: #000; PADDING-TOP: 0px; BACKGROUND-COLOR: #fff
}
TR.dark TD {
	PADDING-RIGHT: 0.3em; PADDING-LEFT: 0.3em; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.3em
}
TR.light TD {
	PADDING-RIGHT: 0.3em; PADDING-LEFT: 0.3em; PADDING-BOTTOM: 0.3em; PADDING-TOP: 0.3em
}
H1 {
	MARGIN-BOTTOM: 0.5em
}
H2 {
	MARGIN-BOTTOM: 0.5em
}
H3 {
	MARGIN-BOTTOM: 0.5em
}
H4 {
	MARGIN-BOTTOM: 0.5em
}
H5 {
	MARGIN-BOTTOM: 0.5em
}
H6 {
	MARGIN-BOTTOM: 0.5em
}
H1 {
	FONT-SIZE: 1.3em
}
H2 {
	FONT-SIZE: 1.2em
}
H3 {
	FONT-SIZE: 1.1em
}
H4 {
	FONT-SIZE: 1.1em
}
H5 {
	FONT-SIZE: 1.1em
}
H6 {
	FONT-SIZE: 1.1em
}
P {
	MARGIN-TOP: 0.5em; MARGIN-BOTTOM: 0.9em
}
A {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A:link {
	COLOR: #39c
}
A:visited {
	COLOR: #369
}
A:hover {
	COLOR: #39c; TEXT-DECORATION: underline
}
FIELDSET {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
PRE {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 1.5em; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 1.5em; FONT-SIZE: 12px; PADDING-BOTTOM: 0.75em; BORDER-LEFT: #ddd 1px solid; PADDING-TOP: 0.75em; BORDER-BOTTOM: #ddd 1px solid; BACKGROUND-COLOR: #eee
}
TABLE {
	FONT-SIZE: 1em
}
.form-item LABEL {
	FONT-SIZE: 1em; COLOR: #222
}
.item-list .title {
	FONT-SIZE: 1em; COLOR: #222
}
.links {
	MARGIN-BOTTOM: 0em
}
.comment .links {
	MARGIN-BOTTOM: 0em
}
#header {
	WIDTH: 100%
}
#content {
	WIDTH: 100%
}
#header {
	BACKGROUND-COLOR: #69c
}
#logo {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; VERTICAL-ALIGN: middle; BORDER-RIGHT-WIDTH: 0px
}
#logo IMG {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 1em; PADDING-LEFT: 1em; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; PADDING-BOTTOM: 0em; PADDING-TOP: 0em; BORDER-RIGHT-WIDTH: 0px
}
#menu {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: middle; PADDING-TOP: 0.5em; TEXT-ALIGN: right
}
#primary {
	PADDING-RIGHT: 0.8em; PADDING-LEFT: 0px; FONT-SIZE: 1em; PADDING-BOTTOM: 0.5em; COLOR: #9cf; PADDING-TOP: 0em
}
#primary A {
	FONT-WEIGHT: bold; COLOR: #fff
}
#secondary {
	PADDING-RIGHT: 1em; PADDING-LEFT: 0px; FONT-SIZE: 0.8em; PADDING-BOTTOM: 0.5em; COLOR: #9cf; PADDING-TOP: 0px
}
#secondary A {
	FONT-WEIGHT: bold; COLOR: #9cf
}
#search .form-text {
	BORDER-RIGHT: #369 1px solid; BORDER-TOP: #369 1px solid; FONT-SIZE: 1.1em; BORDER-LEFT: #369 1px solid; BORDER-BOTTOM: #369 1px solid
}
#search .form-submit {
	BORDER-RIGHT: #369 1px solid; BORDER-TOP: #369 1px solid; FONT-SIZE: 1.1em; BORDER-LEFT: #369 1px solid; BORDER-BOTTOM: #369 1px solid
}
#search .form-text {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0.5em; WIDTH: 8em; PADDING-TOP: 0px; HEIGHT: 1.4em
}
#search .form-submit {
	HEIGHT: 1.5em
}
#mission {
	PADDING-RIGHT: 2em; PADDING-LEFT: 2em; PADDING-BOTTOM: 1.5em; COLOR: #fff; PADDING-TOP: 1.5em; BACKGROUND-COLOR: #369
}
#mission A {
	FONT-WEIGHT: bold; COLOR: #9cf
}
#mission A:visited {
	FONT-WEIGHT: bold; COLOR: #9cf
}
.site-name {
	PADDING-RIGHT: 0em; PADDING-LEFT: 0em; FONT-SIZE: 2em; PADDING-BOTTOM: 0em; MARGIN: 0.6em 0em 0em; PADDING-TOP: 0em
}
.site-name A:link {
	COLOR: #fff
}
.site-name A:visited {
	COLOR: #fff
}
.site-name A:hover {
	COLOR: #369; TEXT-DECORATION: none
}
.site-slogan {
	DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 1em; MARGIN: 0em; COLOR: #eee; FONT-STYLE: italic
}
#main {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px
}
#mission {
	LINE-HEIGHT: 1.4
}
.node .content {
	LINE-HEIGHT: 1.4
}
.comment .content {
	LINE-HEIGHT: 1.4
}
#help {
	FONT-SIZE: 0.9em; MARGIN-BOTTOM: 1em
}
.breadcrumb {
	MARGIN-BOTTOM: 0.5em
}
.messages {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 0.3em; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 0.3em; MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 0.3em; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 0.3em; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #eee
}
.error {
	BORDER-LEFT-COLOR: red; BORDER-BOTTOM-COLOR: red; BORDER-TOP-COLOR: red; BORDER-RIGHT-COLOR: red
}
#sidebar-left {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: top; WIDTH: 16em; PADDING-TOP: 10px; BACKGROUND-COLOR: #ddd
}
#sidebar-right {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: top; WIDTH: 16em; PADDING-TOP: 10px; BACKGROUND-COLOR: #ddd
}
#footer {
	PADDING-RIGHT: 1em; PADDING-LEFT: 1em; FONT-SIZE: 0.8em; PADDING-BOTTOM: 1em; PADDING-TOP: 1em; BACKGROUND-COLOR: #eee
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 1.3em; MARGIN: 0px auto; COLOR: #777
}
.title A {
	FONT-WEIGHT: bold; FONT-SIZE: 1.3em; MARGIN: 0px auto; COLOR: #777
}
.submitted {
	FONT-SIZE: 0.8em; COLOR: #999
}
.links {
	COLOR: #999
}
.links A {
	FONT-WEIGHT: bold
}
.block {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1.5em; PADDING-TOP: 0px
}
.box {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1.5em; PADDING-TOP: 0px
}
.block {
	MARGIN-BOTTOM: 1.5em; PADDING-BOTTOM: 0.75em; BORDER-BOTTOM: #bbb 1px solid
}
.block .title {
	MARGIN-BOTTOM: 0.25em
}
.box .title {
	FONT-SIZE: 1.1em
}
.node {
	MARGIN: 0.5em 0px 2em
}
.sticky {
	BORDER-RIGHT: #ddd 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #ddd 1px solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; BORDER-LEFT: #ddd 1px solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: #ddd 1px solid; BACKGROUND-COLOR: #eee
}
.node .content {
	MARGIN: 0.5em 0px
}
.comment .content {
	MARGIN: 0.5em 0px
}
.node .taxonomy {
	PADDING-RIGHT: 1.5em; PADDING-LEFT: 1.5em; FONT-SIZE: 0.8em; PADDING-BOTTOM: 1.5em; COLOR: #999; PADDING-TOP: 1.5em
}
.node .picture {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; FLOAT: right; MARGIN: 0.5em; BORDER-LEFT: #ddd 1px solid; BORDER-BOTTOM: #ddd 1px solid
}
.comment {
	BORDER-RIGHT: #abc 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #abc 1px solid; PADDING-LEFT: 0.5em; MARGIN-BOTTOM: 1em; PADDING-BOTTOM: 0.5em; BORDER-LEFT: #abc 1px solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: #abc 1px solid
}
.comment .title A {
	FONT-WEIGHT: normal; FONT-SIZE: 1.1em
}
.comment .new {
	FONT-WEIGHT: bold; FONT-SIZE: 0.8em; FLOAT: right; COLOR: red; TEXT-ALIGN: right
}
.comment .picture {
	BORDER-RIGHT: #abc 1px solid; BORDER-TOP: #abc 1px solid; FLOAT: right; MARGIN: 0.5em; BORDER-LEFT: #abc 1px solid; BORDER-BOTTOM: #abc 1px solid
}
#aggregator .feed {
	BORDER-RIGHT: #ccc 1px solid; PADDING-RIGHT: 1em; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 1em; PADDING-BOTTOM: 1em; MARGIN: 1em 0px; BORDER-LEFT: #ccc 1px solid; PADDING-TOP: 1em; BORDER-BOTTOM: #ccc 1px solid; BACKGROUND-COLOR: #eee
}
#aggregator .news-item .source {
	FONT-SIZE: 0.9em; COLOR: #999; FONT-STYLE: italic
}
#aggregator .news-item .categories {
	FONT-SIZE: 0.9em; COLOR: #999; FONT-STYLE: italic
}
#aggregator .source {
	FONT-SIZE: 0.9em; COLOR: #999; FONT-STYLE: italic
}
#aggregator .age {
	FONT-SIZE: 0.9em; COLOR: #999; FONT-STYLE: italic
}
#aggregator .title {
	FONT-SIZE: 1em; MARGIN-BOTTOM: 0.5em
}
#aggregator H3 {
	MARGIN-TOP: 1em
}
#forum TABLE {
	WIDTH: 100%
}
#forum TD {
	PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; PADDING-TOP: 0.5em
}
#forum TD.forum {
	BACKGROUND-COLOR: #eee
}
#forum TD.posts {
	BACKGROUND-COLOR: #eee
}
#forum TD.topics {
	BACKGROUND-COLOR: #ddd
}
#forum TD.last-reply {
	BACKGROUND-COLOR: #ddd
}
#forum TD.container {
	BACKGROUND-COLOR: #ccc
}
#forum TD.container A {
	COLOR: #555
}
#forum TD.statistics {
	BORDER-RIGHT: #bbb 1px solid; BORDER-TOP: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; BORDER-BOTTOM: #bbb 1px solid; HEIGHT: 1.5em
}
#forum TD.settings {
	BORDER-RIGHT: #bbb 1px solid; BORDER-TOP: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; BORDER-BOTTOM: #bbb 1px solid; HEIGHT: 1.5em
}
#forum TD.pager {
	BORDER-RIGHT: #bbb 1px solid; BORDER-TOP: #bbb 1px solid; BORDER-LEFT: #bbb 1px solid; BORDER-BOTTOM: #bbb 1px solid; HEIGHT: 1.5em
}
#forum TD .name {
	COLOR: #96c
}
#forum TD .links {
	FONT-SIZE: 0.9em; PADDING-TOP: 0.7em
}
#profile .profile {
	CLEAR: both; BORDER-RIGHT: #abc 1px solid; PADDING-RIGHT: 0.5em; BORDER-TOP: #abc 1px solid; PADDING-LEFT: 0.5em; PADDING-BOTTOM: 0.5em; MARGIN: 1em 0em; BORDER-LEFT: #abc 1px solid; PADDING-TOP: 0.5em; BORDER-BOTTOM: #abc 1px solid
}
#profile .profile .name {
	PADDING-BOTTOM: 0.5em
}
.block-forum H3 {
	MARGIN-BOTTOM: 0.5em
}
.calendar A {
	TEXT-DECORATION: none
}
.calendar TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-COLOR: #888; BORDER-BOTTOM-COLOR: #888; PADDING-BOTTOM: 0.4em; BORDER-TOP-COLOR: #888; PADDING-TOP: 0.4em; BORDER-RIGHT-COLOR: #888
}
.calendar TH {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BORDER-LEFT-COLOR: #888; BORDER-BOTTOM-COLOR: #888; PADDING-BOTTOM: 0.4em; BORDER-TOP-COLOR: #888; PADDING-TOP: 0.4em; BORDER-RIGHT-COLOR: #888
}
.calendar .day-today {
	BACKGROUND-COLOR: #69c
}
.calendar .day-today A {
	COLOR: #fff
}
.calendar .day-selected {
	COLOR: #fff; BACKGROUND-COLOR: #369
}
.calendar .header-week {
	BACKGROUND-COLOR: #ccc
}
.calendar .day-blank {
	BACKGROUND-COLOR: #ccc
}
.calendar .row-week TD A:hover {
	COLOR: #000; BACKGROUND-COLOR: #fff
}
