.lpindex a {
	font-size: 24px;
	font-weight: bold;
	color: #0000FF;
	display: block;
	width: 100px;
	float: left;
	padding: 3px;
}
.lpindex {
	text-align: center;
	background-color: #CCCCCC;
	height: 30px;
	padding: 5px;
}
.rpindex a {
	float: right;
		font-size: 24px;
	font-weight: bold;
	color: #0000FF;
	display: block;
	width: 100px;
	
	padding: 3px;
}
.rpindex {
	text-align: center;
	background-color: #CCCCCC;
	height: 30px;
	padding: 5px;
}
