#logo {
	font-size: 80px;
	font-weight: bolder;
	color: #FF6633;
	font-style: italic;
	padding-left: 10px;
	width: 100%;
	float: left;
	line-height: normal;
	vertical-align: middle;
}
#logo a {
	color: #FF6633;
}
#tail {
	text-align: center;
	float: right;
	width: 100%;
	font-size: 12px;
	vertical-align: middle;
	height: 50px;
	line-height: normal;
}
