
/* smaller gray font for copyright footers for imported wiki pages*/
.address * {
    color: gray;
    font-size: xx-small;
}

/* table styles for imported wiki pages */

#body-content .maintable {
    -moz-border-radius: 0.7em 0.7em 0.7em 0.7em;
    border-radius: 0.7em 0.7em 0.7em 0.7em;
    -webkit-border-radius: 0.7em 0.7em 0.7em 0.7em;
    background-color: #F6F6F6;
    border: 1px solid #E6E6E6;
    border-collapse: separate;
    margin-bottom: 2.5em;
    border-spacing: 0;
    color: black;
}

#body-content .maintable th, #body-content th {
    text-align: left;
    background-color: #E1E1E1;
    border-left: 1px solid #ECECEC;
    border-right: 1px solid #E8E8E8;
    padding: 0.5em 1.5em 0.5em 0.25em;
}

#body-content caption, #body-content .maintable caption {
    font-size: 14px;
    text-align: left;
    padding: 1em 1em 1em 0em;
}

#body-content .maintable tr {
    border-left: 1px solid #E6E6E6;
    color: black;
}

#body-content .maintable td, #body-content .maintable tbody {
    padding: 5px;
}

#body-content .maintable tr:nth-child(even) {
    background-color:#ffffff;
}

#body-content .maintable tr:first-child th:first-child {
    -moz-border-radius-topleft: 0.7em;
    border-top-left-radius: 0.7em;
    -webkit-border-top-left-radius: 0.7em;
}

#body-content .maintable tr:first-child th:last-child {
    -moz-border-radius-topright: 0.7em;
    border-top-right-radius: 0.7em;
    -webkit-border-top-right-radius: 0.7em;
}

#body-content .maintable tr:last-child td:last-child {
    -moz-border-radius-bottomright: 0.7em;
    border-bottom-right-radius: 0.7em;
    -webkit-border-bottom-right-radius: 0.7em;
}

#body-content .maintable tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 0.7em;
    border-bottom-left-radius: 0.7em;
    -webkit-border-bottom-left-radius: 0.7em;
}

#body-content dd {
    line-height: 1.5em;
    margin-bottom: 0.1em;
    margin-left: 2em;
}

#body-content hr {
    border: 0;
    color: #a0a0a0;
    background-color: #ccc;
    height: 1px;
    width: 100%;
    text-align: left;
    margin-top: 34px;
}

/* below: style for all pages*/#body-content,#body-content H3,#body-content H4,#body-content H5,#body-content H6,#body-content P,#body-content CENTER,#body-content TD,#body-content TH,#body-content UL,#body-content DL,#body-content DIV {
    color: #555555;
    font-family: Tahoma, Geneva, sans-serif;
}

#body-content H1,#body-content H2,#body-content caption {
    color: #555555;
    font-family: Tahoma, Geneva, sans-serif;
}

#body-content a:link {
    color: #1a41a8;
}

#body-content a:visited {
    color: #1066BD;
}

#body-content p, #body-content li, #body-content td, #body-content th, #body-content caption,#body-content{
    font-size: 12px;
}

#body-content h3 {font-weight: bold;}

#body-content a:link, #body-content a:visited { 
    text-decoration: none;
}

#body-content a:hover { 
    text-decoration: underline;
}


#body-content pre {
    -moz-border-radius: 0.7em 0.7em 0.7em 0.7em;
    border-radius: 0.7em 0.7em 0.7em 0.7em;
    -webkit-border-radius: 0.7em 0.7em 0.7em 0.7em;
    background-color: #F6F6F6;
    border: 1px solid #DDDDDD;
    border-collapse: separate;
    margin: 0em 1.5em 2.5em 1em;
    overflow-x: auto;
    padding: 1em;
}

#body-content li {
    line-height: 1.8;
}
