@charset "utf-8";
/* GENERAL */
body {
	font-family:Arial, Helvetica, sans-serif;
	margin:0px;
}
a {
	text-decoration:none;
	outline:0px;
}
.sprite { background:url(../images/sprite_b.png); }
#banner_wrapper {
	border:1px solid;
	position:relative;
	overflow:hidden;
}
#navigation {
	position:absolute;
	left:2px;
	bottom:2px;
	z-index:10;
}
.search_button, .nav_button, .search_button .sprite, .nav_button .sprite  {
	display:inline-block;
	width:14px;
	height:14px;
}
.search_button, .nav_button  {
	cursor:pointer;		
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	overflow:hidden;
}
.search_button {
	padding:0px 2px;
	margin-left:4px;
}
.nav_button {
	float:left;
	margin-right:2px;
}
.prev span { background-position:0px 0px;}
.next span { background-position:-14px 0px;}
.search_button span { background-position:-28px 0px;}

/* search form */
#form_container {
	position:absolute;
	left:65px;
	bottom:-20px;
	height:18px;
	overflow:hidden;
}
#search_form {
	height:16px;
	overflow:hidden;
	padding:2px 4px 0px 4px;
}

#search_form p, #search_form .search_submit { display:inline-block;	}
#search_form p {
	margin:0px;	
	font-size:11px;
	line-height:13px;
	vertical-align:top;
	float:left;
	padding:0px 10px 0px 0px;
}
#search_form .search_field {
	margin:0px;
	padding:0px;
	height:12px;
	border:1px solid;
	font-size:11px;
	line-height:11px;
	padding:0px 0px 0px 4px;
	vertical-align:top;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.ie6 #search_form .search_field, .ie7 #search_form .search_field { margin-top:-1px;}
#search_form .search_submit {
	vertical-align:top;
	height:13px;
	font-size:11px;
	line-height:11px;
	font-weight:bold;
	color:#fff;
	padding:1px 6px 0px 6px;
	margin-left:-7px;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
.ie6 #search_form .search_submit, .ie7 #search_form .search_submit {
	height:14px;
	line-height:11px;
	padding:0px 6px 0px 6px;
}

/* ads by admedia */
#infoIcon {
	display:inline-block;
	width:14px;
	height:14px;
	padding:0px 0px 0px 0px;
	color:#fff;
	font-size:11px;
	line-height:11px;
	text-align:right;
	overflow:hidden;
	border:none;
	background-color:#d5d5d5;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	position:absolute;
	right:-1px;
	bottom:2px;
	z-index:10000;
}
.ie6 #infoIcon, .ie7 #infoIcon {
	padding-top:1px;
	height:15px;
}
#infoIcon .iIcon {
	display:inline-block;
	width:13px;
	font-weight:bold;
	text-align:center;
	padding:1px 0px 0px 0px;
	vertical-align:top;
}
#infoIcon .branding {
	display:none;
	font-size:11px;
	line-height:13px;
	font-weight:normal;
	padding:0px 3px 0px 0px;
}
#infoIcon:hover {
	width:auto;
	padding-left:10px;
	background-color:#ff8004;
	border:none;	
}
#infoIcon:hover .branding {
	display:inline;
}
/* end ads by admedia */

.scrollable {
	position:relative;
	overflow:hidden;
}
.scrollable .items {
	width:20000em;
	position:absolute;
	clear:both;
}
.scrollable .items .items_wrap {
	float: left;
	overflow:hidden;
}
.item_wrap {
	overflow:hidden;
	
}

/* 728x90 */
.size728x90 {
	width:726px;
	height:88px;	
}
.size728x90 #search_form .search_field { width:200px; }
.size728x90 .scrollable {
	width: 726px;
	height:70px;	
}
.size728x90 .scrollable .items .items_wrap {
	width: 718px;
	height:66px;
	padding:2px 0px 0px 4px;
	margin-right:0px;
}
.size728x90 .item_wrap { height:17px; width:2000px;}
.size728x90 .item_title, .size728x90 .item_description, .size728x90 .item_domain, .size728x90 .sponsoredResultsFavicon {
	display:inline-block;
	height:17px;
	vertical-align:top;
}
.size728x90 .item_title {
	font-size:13px;
	line-height:15px;
	font-weight:bold;
	text-decoration:underline;
}
.size728x90 .item_description {
	font-size:13px;
	line-height:14px;	
}
.size728x90 .item_domain {
	font-size:11px;
	line-height:15px;
	vertical-align:top;
}
.size728x90 .sponsoredResultsFavicon { }
.size728x90 .sponsoredResultsFavicon img { height:12px; border:none; vertical-align:top; margin-top:2px; }