@charset "utf-8";
/* EDITABLE */
body { }

/* BANNER BACKGROUND */
/*#banner_wrapper { background-color:#FFF; }*/

/* BANNER & SEARCH FIELD BORDERS */
#banner_wrapper { border-color:#d5d5d5; }
#search_form .search_field { border-color:#d5d5d5; }

/* NAV BUTTONS BACKGROUND */
.nav_button { background-color:#a5c9ed; }

/* SEARCH BUTTON & SUBMIT BUTTON*/
.search_button, #search_form .search_submit { background-color:#c5c5c5; }

/* BUTTONS HOVER */ 
.nav_button:hover, .more:hover, .search_button:hover, #search_form .search_submit:hover { background-color:#00cc5b!important; }

/* ACTIVE NEXT BUTTON */
.more { background-color:#0000ff; }

/* TITLE, DESCRIPTION, URL */
.item_title, .item_title a { color:#1122CC; }
.item_title:hover { color:#1122CC; }
.item_description a { color:#000; }
.item_domain { color:#2b9900; }
.item_title:hover, .item_description:hover, .item_domain:hover {  }